{:t
 {:about {:text [:div.document
                 [:h2 "REMS-Demo"]
                 [:p "This is a demo environment for testing the REMS software. The demo environment has a couple of fictional datasets to which you can apply for access. For each dataset, there is an application form that the applicant fills in and submits and a workflow that determines how and to whom the submitted application is circulated for approval."]
                 [:p "You can use the demo usernames and passwords below to log in with various roles. The demo environment does not control access to any real datasets and does not send any email notifications to the applicants, reviewers or approvers of the applications."]
                 [:p [:strong "The demo environment might get cleaned occasionally"] ", which will make all applications and access rights disappear. However, please notice that the applications or configurations you make may be visible to the other persons using the demo."]
                 [:p [:a {:href "http://www.csc.fi/rems"} "More information on the REMS tool."]]
                 [:p "REMS support: rems@csc.fi"]
                 [:h3 "User Accounts and Roles"]
                 [:p "Following test user accounts (roles) can be used when singing in using Haka test IdP:"]
                 [:p [:strong "1. Applicant 1"] [:br]
                  "Username: RDapplicant1" [:br]
                  "Password: RDapplicant1" [:br]
                  "Description: Use this account to apply for access rights to a dataset."]
                 [:p [:strong "2. Applicant 2"] [:br]
                  "Username: RDapplicant2" [:br]
                  "Password: RDapplicant2" [:br]
                  "Description: Another account for applying for access rights. For instance, RDapplicant1 can add this user to an application as a member to whom equal access rights are applied as well."]
                 [:p [:strong "3. Reviewer"] [:br]
                  "Username: RDreview" [:br]
                  "Password: RDreview" [:br]
                  "Description: A reviewer can provide comments on an application to the approver but cannot approve or reject the application."]
                 [:p [:strong "4. Approver 1"] [:br]
                  "Username: RDapprover1" [:br]
                  "Password: RDapprover1" [:br]
                  "Description: An approver can approve, reject, close and return applications"]
                 [:p [:strong "5. Approver 2"] [:br]
                  "Username: RDapprover2" [:br]
                  "Password: RDapprover2" [:br]
                  "Description: Some datasets in the demo have several parallel or alternative approvers."]
                 [:h3 "Datasets"]
                 [:p [:strong "ELFA Corpus, direct approval"] [:br]
                  "Description: This dataset has a minimal workflow. The user just commits to licence terms and receives an entitlement."]
                 [:p [:strong "ELFA Corpus, one approval"] [:br]
                  "Description: This dataset has a simple workflow. The application is sent to a single person (RDapprover1) for approval."]
                 [:p [:strong "ELFA Corpus, with review"] [:br]
                  "Description: This dataset has a simple workflow with a reviewer (RDreview), who can just provide comments to the approver (RDapprover1) on the application."]
                 [:p [:strong "ELFA Corpus, two rounds of approval by different approvers"] [:br]
                  "Description: This dataset has two approval phases. The application must be first approved by RDapprover1 and then by RDapprover2."]
                 [:h3 "Terms of Use"]
                 [:p "You agree not to do anything that infringes any laws or regulations or the rights of another (such as copyright) or is obscene, threatening, violent, abusive, hateful, harassing or otherwise objectionable."]
                 [:p "You agree not to introduce to REMS any information that relates to an identified or identifiable natural person."]
                 [:h3 "Acknowledgements"]
                 [:p "CSC’s work for REMS has been supported by the Ministry of Education and Culture of Finland and by Academy of Finland grants 271642 and 263164 to construct Biomedinfra, the Finnish consortium for ELIXIR, BBMRI and EATRIS ESFRI."]
                 ]}
  :actions {:applicant "Applicant"
            :application "Application"
            :approve "Approve"
            :approve-success "Application approved"
            :cancel "Cancel"
            :close "Close"
            :close-success "Application closed"
            :created "Created"
            :empty "You don't have any applications to process."
            :export-pdf "Export PDF"
            :handled "Handled"
            :handled-approvals "Handled applications"
            :handled-reviews "Handled reviews"
            :load-application-states "Load application states"
            :not-implemented "Not implemented yet"
            :open-approvals "Open applications"
            :open-reviews "Open reviews"
            :reject "Reject"
            :reject-success "Application rejected"
            :resource "Resource"
            :return "Return to applicant"
            :return-success "Application returned"
            :review "Review"
            :review-request "Request review"
            :review-request-selection "Send review request to user(s):"
            :review-request-success "Review request sent"
            :review-success "Application reviewed"
            :show-publications "Show publications"
            :show-throughput-times "Show throughput times"
            :state "State"
            :view "View"
            :view-rights "View rights"
            :withdraw "Withdraw"
            :withdraw-success "Application withdrawn"}
  :applicant-info {:applicant "Applicant"}
  :applications {:application "Application"
                 :created "Created"
                 :empty "You don't have any applications."
                 :events {:apply "Applied"
                          :approve "Approved"
                          :autoapprove "Automatically approved"
                          :close "Closed"
                          :reject "Rejected"
                          :return "Changes requested"
                          :review "Reviewed"
                          :review-request "Review requested"
                          :unknown "Unknown"
                          :withdraw "Withdrawn for modifying"
                          :third-party-review "Reviewed by a third party"}
                 :resource "Resource"
                 :state "State"
                 :states {:applied "Applied"
                          :approved "Approved"
                          :closed "Closed"
                          :draft "Draft"
                          :rejected "Rejected"
                          :returned "Returned"
                          :unknown "Unknown"
                          :withdrawn "Withdrawn"}
                 :user "User"
                 :view "View"}
  :cart {:add "Add to cart"
         :apply "Apply"
         :checkout "Check out"
         :header "%1 resources in cart"
         :remove "Remove"}
  :catalogue {:header "Resource"}
  :email {:action-not-needed-msg "Dear %1,
                                  Applicant's %2 submitted application %3 no longer requires your attention.
                                  Please do not reply to this automatically generated message."
          :action-not-needed-subject "Action no longer required"
          :application-sent-msg "Dear %1,
                                 An application to access the resource %2 has been created.
                                 You will receive messages about the application's progress. You can also check its status: %3
                                 Please do not reply to this automatically generated message."
          :application-sent-subject "New application created"
          :approval-request-msg "Dear %1,
                                 %2 has submitted the application %3 to access the resource %4 and your attention is required.
                                 You can approve or reject the application: %5
                                 Please do not reply to this automatically generated message."
          :approval-request-subject "Approval request"
          :review-request-msg "Dear %1,
                               %2 has requested you to review the application %3 to access the resource %4.
                               You can review the application: %5
                               Please do not reply to this automatically generated message."
          :review-request-subject "Review request"
          :status-changed-msg "Dear %1,
                               Your application %2 to access the resource %3 has progressed to the state %4.
                               You can view the application: %5
                               Please do not reply to this automatically generated message."
          :status-changed-subject "Application state change"}
  :footer "Powered by CSC - IT Center for Science"
  :form {:add-comments "Add comment to the decision (shown to applicant)"
         :add-comments-applicant "Add comment to the decision"
         :back "Back to catalogue"
         :back-actions "Back to actions"
         :back-reviews "Back to reviews"
         :comment "Comment"
         :date "Time"
         :event "Event"
         :events "Application events"
         :licenses "Terms of Use"
         :optional "(optional)"
         :save "Save as draft"
         :saved "Draft saved."
         :submit "Send application"
         :submitted "Application submitted."
         :user "User"
         :validation {:required "Field \"%1\" is required."}}
  :login {:text "Login by using your Haka credentials"
          :title "Login"}
  :missing "Missing translation"
  :navigation {:about "About"
               :actions "Actions"
               :applications "Applications"
               :catalogue "Catalogue"
               :home "Home"
               :login "Login"
               :logout "Sign Out"}
  :phases {:apply "Apply"
           :approve "Approval"
           :approved "Approved"
           :rejected "Rejected"
           :review "Review"}}}
