{:t
     {:missing "Missing translation"
      :footer "Powered by CSC - IT Center for Science"
      :navigation {:login "Login"
                   :logout "Sign Out"
                   :about "About"
                   :home "Home"
                   :catalogue "Catalogue"
                   :applications "Applications"
                   :approvals "Approvals"}
      :login {:title "Login"
              :text "Login by using your Haka credentials"}
      :about {:text "this is the story of rems... work in progress"}
      :cart {:header "%1 resources in cart"
             :add "Add to cart"
             :remove "Remove"
             :apply "Apply"
             :checkout "Check out"}
      :catalogue {:header "Resource"}
      :form {:save "Save as draft"
             :optional "(optional)"
             :licenses "Licenses"
             :comment "Comment"
             :add-comments "Add comment to the decision (shown to applicant)"
             :saved "Draft saved."
             :submit "Send application"
             :submitted "Application submitted."
             :back "Back to catalogue"
             :back-approvals "Back to approvals"
             :date "Time"
             :event "Event"
             :events "Application events"
             :user "User"
             :validation {:required "Field \"%1\" is required."}}
      :phases {:apply "Apply"
               :approve "Approval"
               :review "Review"
               :approved "Approved"
               :rejected "Rejected"}
      :applications {:application "Application"
                     :resource "Resource"
                     :user "User"
                     :state "State"
                     :view "View"
                     :created "Created"
                     :states {:draft "Draft"
                              :applied "Applied"
                              :approved "Approved"
                              :rejected "Rejected"
                              :returned "Returned"
                              :unknown "Unknown"}
                     :empty "You don't have any applications."}
      :approvals {:application "Application"
                  :resource "Resource"
                  :applicant "Applicant"
                  :view "View"
                  :created "Created"
                  :approve "Approve"
                  :reject "Reject"
                  :return "Return to applicant"
                  :approve-success "Application approved"
                  :reject-success "Application rejected"
                  :return-success "Application returned"
                  :empty "You don't have any applications to process."}
      :roles {:header "Select role:"
              :names {:approver "Approver"
                      :reviewer "Reviewer"
                      :applicant "Applicant"}}
      :applicant-info {:applicant "Applicant"}}}
