{:t
 {:actions {:accept-invitation "Accept invitation"
            :accept-invitation-already-member "You are already a member."
            :accept-invitation-success "Successfully joined the application."
            :accept-licenses "Accept the terms of use"
            :add-licenses "Add terms of use"
            :add-member "Add member"
            :approve "Approve"
            :approve-reject "Approve or reject"
            :assign-external-id "Assign external id"
            :assign-external-id-info "External id"
            :bundling-intro [:div.intro [:p "Note that only resources that have the same application workflow can be bundled together."]]
            :cancel "Cancel"
            :change-resources "Change resources"
            :close "Close application"
            :close-intro [:div.intro [:p "Note that if the application is closed, it cannot be opened again."]]
            :comment "Comment"
            :decide "Decide"
            :errors {:already-member "User is already a member of this application"
                     :disabled-catalogue-item "Resource no longer available."
                     :invalid-token [:div [:p "Joining the application failed."] [:p "Check the invitation token " [:code "%1"]]]
                     :licenses-not-accepted "Terms of use not accepted."
                     :submission-failed "Submission failed. Check the following errors:"}
            :export-entitlements "Export entitlements as CSV"
            :handled-applications "Processed applications"
            :invite-member "Invite member"
            :licenses-selection "Add terms of use"
            :load-application-states "Load application states"
            :member "Member"
            :member-email "Email"
            :member-name "Name"
            :name-and-email-required "Name and email are required."
            :reject "Reject"
            :remark "Remark"
            :remark-public "Show to applicant"
            :remove-member "Remove member"
            :request-decision "Request decision"
            :request-review "Request review"
            :request-selection "Send requests"
            :resources-selection "Resources included in the application:"
            :return "Return to applicant"
            :review "Review"
            :revoke "Revoke entitlement"
            :show-publications "Show publications"
            :show-throughput-times "Show throughput times"
            :todo-applications "Open applications"}
  :administration {:active "Active"
                   :add "Add"
                   :added-at "Added at"
                   :added-by "Added by"
                   :archive "Archive"
                   :back "Back"
                   :blacklist "Blacklist"
                   :change-form "Change form"
                   :cancel "Cancel"
                   :catalogue-item "Catalogue item"
                   :catalogue-items "Catalogue items"
                   :change "Change"
                   :comment "Comment"
                   :copy-as-new "Copy as new"
                   :create-catalogue-item "Create catalogue item"
                   :create-form "Create form"
                   :create-license "Create license"
                   :create-resource "Create resource"
                   :create-workflow "Create workflow"
                   :created "Created"
                   :disable "Disable"
                   :disabled-and-archived-explanation "Disabling hides an item from applicants. Archiving also hides it in the administration view."
                   :display-archived "Display archived"
                   :edit "Edit"
                   :edit-catalogue-item "Edit catalogue item"
                   :edit-form "Edit form"
                   :edit-workflow "Edit workflow"
                   :enable "Enable"
                   :end "End"
                   :errors {:form-archived "Form has been archived:"
                            :form-in-use "Form in use:"
                            :license-archived "License has been archived:"
                            :license-in-use "License in use:"
                            :resource-archived "Resource has been archived:"
                            :resource-in-use "Resource in use:"
                            :workflow-archived "Workflow has been archived:"
                            :workflow-in-use "Workflow in use:"}
                   :export-applications "Export applications"
                   :form "Form"
                   :forms "Forms"
                   :license "License"
                   :license-field "License \"%1\""
                   :license-name "License name"
                   :licenses "Licenses"
                   :no-licenses "No licenses"
                   :organization "Organization"
                   :preview "Preview"
                   :remove "Remove"
                   :reports "Reports"
                   :resource "Resource"
                   :resources "Resources"
                   :save "Save"
                   :start "Start"
                   :title "Title"
                   :type "Type"
                   :unarchive "Unarchive"
                   :user "User"
                   :userid "User id"
                   :view "View"
                   :workflow "Workflow"
                   :workflows "Workflows"}
  :applicant-info {:applicant "Applicant"
                   :applicants "Applicants"
                   :email "Email (from identity provider)"
                   :invited-member "Invited member"
                   :member "Member"
                   :name "Name"
                   :notification-email "Email (set by user)"
                   :organization "Organization"
                   :username "Username"}
  :applications {:all-applications "All applications"
                 :applicant "Applicant"
                 :application "Application"
                 :applications "Applications"
                 :copied-from "copied from"
                 :copied-to "copied to"
                 :created "Created"
                 ;; TODO: Once the terms have stabilized, convert db and the
                 ;;   code to match the term in UI.
                 :description "Title"
                 :empty "No applications."
                 :events {:approved "%1 approved the application."
                          :closed "%1 closed the application."
                          :copied-from "%1 copied the application from an old application."
                          :copied-to "%1 copied the application to a new application."
                          :created "%1 created a new application."
                          :decided "%1 filed a decision for the application."
                          :decision-requested "%1 requested a decision from %2."
                          :draft-saved "%1 saved the application as a draft."
                          :external-id-assigned "%1 assigned an external id %2."
                          :licenses-accepted "%1 accepted the terms of use."
                          :licenses-added "%1 added terms of use."
                          :member-added "%1 added %2 to the application."
                          :member-invited "%1 invited %2 to the application."
                          :member-joined "%1 joined to the application."
                          :member-removed "%1 removed %2 from the application."
                          :member-uninvited "%1 removed %2 from the application."
                          :rejected "%1 rejected the application."
                          :remarked "%1 added a remark."
                          :resources-changed "%1 changed the resources. New resources: %2."
                          :returned "%1 requested changes to the application."
                          :review-requested "%1 requested a review from %2."
                          :reviewed "%1 reviewed the application."
                          :revoked "%1 revoked the entitlement."
                          :submitted "%1 submitted the application for review."
                          :unknown "Unknown"}
                 :export {:applicant "Applicant"
                          :external-id "External id"
                          :first-submitted "Submitted"
                          :id "Id"
                          :resources "Resources"
                          :state "State"}
                 :handlers "Handlers"
                 :id "Id"
                 :intro [:div.intro [:p "Fill out and submit the application. Several applicants can be invited as members of the application, and each applicant has to accept the terms of use to gain access."]]
                 :last-activity "Last activity"
                 :latest-activity "Latest activity"
                 :my-applications "My Applications"
                 :resource "Resource"
                 :state "State"
                 :states {:approved "Approved"
                          :closed "Closed"
                          :draft "Draft"
                          :rejected "Rejected"
                          :returned "Returned"
                          :revoked "Revoked"
                          :submitted "Applied"
                          :unknown "Unknown"}
                 :submitted "Sent"
                 :todo "Action needed"
                 :todos {:new-application "New application"
                         :no-pending-requests "All requests have been responded to"
                         :resubmitted-application "Resubmitted application"
                         :unknown "Unknown"
                         :waiting-for-decision "Waiting for a decision"
                         :waiting-for-review "Waiting for a review"
                         :waiting-for-your-decision "Waiting for your decision"
                         :waiting-for-your-review "Waiting for your review"}
                 :view "View"
                 :view-application-with-description "View application %1: %2"
                 :view-application-without-description "View application %1 for resources: %2"}
  :cart {:add "Add to cart"
         :apply "Apply"
         :apply-for-bundle "Apply for %1 resources as a bundle "
         :header "%1 resources in the cart"
         :intro [:div.intro [:p "Apply for access rights by adding resources to the cart. Resources using the same application are bundled together in the cart."]]
         :remove "Remove"}
  :catalogue {:catalogue "Catalogue"
              :header "Resource"
              :intro [:p "Access to the following resources can be applied for."]
              :more-info "More info"
              :continue-existing-application "Continue application"
              :continue-existing-application-intro [:div.intro [:p "Unfinished applications:"]]
              :apply-resources "Apply for access"}
  :collapse {:hide "Hide"
             :show "Show"
             :show-less "Show less"
             :show-more "Show more"}
  :change-form {:change-form-intro "You are about to change the form of the following catalogue items. The changes will be made one at a time, so that each old item is terminated and a new copy will use the chosen form."
                :form-selection "Form"}
  :create-catalogue-item {:form-selection "Form"
                          :infourl "More info URL (optional, defaults to resource URN)"
                          :resource-selection "Resource"
                          :title "Name"
                          :title-placeholder "Name"
                          :workflow-selection "Workflow"}
  :create-form {:add-form-field "Add field"
                :add-option "Add option"
                :field-n "Field %1: %2"
                :field-title "Field title"
                :field-type "Field type"
                :maxlength "Maximum length in characters (optional)"
                :option-key "ID code"
                :option-label "Label"
                :option-n "Option %1"
                :optional "Optional field"
                :placeholder "Placeholder text (optional)"
                :privacy {:private "Private"
                          :public "Public"}
                :title "Form name"
                :type-attachment "Attachment"
                :type-date "Date field"
                :type-description "Application title"
                :type-email "Email address"
                :type-header "Header"
                :type-label "Label"
                :type-multiselect "Multi-select list"
                :type-option "Option list"
                :type-privacy "Privacy"
                :type-text "Text field"
                :type-texta "Text area"
                :type-visibility "Visible"
                :visibility {:always "Always"
                             :field "Field"
                             :has-value "Has value"
                             :hidden "Hidden"
                             :only-if "Only if"}}
  :create-license {:external-link "External link"
                   :inline-text "Inline text"
                   :license-attachment "Attachment"
                   :license-text "License text"
                   :license-type "License type"
                   :link-to-license "License link"
                   :title "License name"}
  :create-resource {:licenses-selection "Licenses"
                    :resid "Resource identifier"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:decider-workflow "Decider workflow"
                    :decider-workflow-description "The handler does not have the authority to approve or reject, but only a separate decider has. Applications cannot be closed."
                    :default-workflow "Default workflow"
                    :default-workflow-description "The handler is in full control of the application process. The handler may request reviews and decisions from others as needed."
                    :handlers "Handlers"
                    :master-workflow "Master workflow"
                    :master-workflow-description "ONLY FOR TESTING. Union of all possible workflows."
                    :title "Title"}
  :dropdown {:no-results "No results"
             :placeholder "Select..."}
  :email {:application-approved {:subject-to-applicant "Your application %3 has been approved"
                                 :message-to-applicant "Dear %1,\n\nYour application %3 has been approved.\n\nYou can view the application and the decision at %6"
                                 :subject-to-handler "(%3) Application has been approved"
                                 :message-to-handler "Dear %1,\n\n%2 has approved the application %3 from %4.\n\nYou can view the application and the decision at %6"}
          :application-rejected {:subject-to-applicant "Your application %3 has been rejected"
                                 :message-to-applicant "Dear %1,\n\nYour application %3 has been rejected.\n\nYou can view the application and the decision at %6"
                                 :subject-to-handler "(%3) Application has been rejected"
                                 :message-to-handler "Dear %1,\n\n%2 has rejected the application %3 from %4.\n\nYou can view the application and the decision at %6"}
          :application-closed {:subject-to-applicant "Your application %3 has been closed"
                               :message-to-applicant "Dear %1,\n\nYour application %3 has been closed.\n\nYou can view the application at %6"
                               :subject-to-handler "(%3) Application has been closed"
                               :message-to-handler "Dear %1,\n\n%2 has closed the application %3 from %4.\n\nYou can view the application at %6"}
          :application-returned {:subject-to-applicant "Your application %3 needs to be amended"
                                 :message-to-applicant "Dear %1,\n\nYour application %3 has been returned for your consideration. Please, amend according to requests and resubmit.\n\nYou can review the application at %6"
                                 :subject-to-handler "(%3) Application has been returned to applicant"
                                 :message-to-handler "Dear %1,\n\n%2 has returned the application %3 to the applicant %4 for modifications.\n\nYou can view the application at %6"}
          :application-revoked {:subject-to-applicant "Entitlements related to your application %3 have been revoked"
                                :message-to-applicant "Dear %1,\n\nEntitlements related to your application %3 have been revoked.\n\nYou can view the application at %6"
                                :subject-to-handler "(%3) Entitlements have been revoked"
                                :message-to-handler "Dear %1,\n\n%2 has revoked the entitlements related to application %3 from %4.\n\nYou can view the application at %6"}
          :application-licenses-added {:subject "Your application's %3 terms of use have changed"
                                       :message "Dear %1,\n\n%2 has requested your approval for changed terms of use to application %3.\n\nYou can review the application and approve the changed the terms of use at %6"}
          :application-resubmitted {:subject "(%3) Application has been resubmitted"
                                    :message "Dear %1,\n\nApplication %3 has been resubmitted by %4.\n\nYou can review the application at %6"}
          :application-submitted {:subject "(%3) A new application has been submitted"
                                  :message "Dear %1,\n\n%4 has submitted a new application %3 to access resource(s) %5.\n\nYou can review the application at %6"}
          :decided {:subject "(%3) Application decision notification"
                    :message "Dear %1,\n\n%2 has filed a decision on application %3, submitted by %4.\n\nYou can review the application at %6"}
          :decision-requested {:subject "(%3) Decision request"
                               :message "Dear %1,\n\n%2 has requested your decision on application %3, submitted by %4.\n\nYou can review application at %6"}
          :footer "\n\nPlease do not reply to this automatically generated message."
          :handler-reminder {:application "%1, submitted by %2"
                             :message "Dear %1,\n\nThe following applications are in progress and may require your actions:\n\n%2\n\nYou can view the applications at %3"
                             :subject "Applications in progress"}
          :member-added {:subject "Added as a member of an application %3"
                         :message "Dear %1,\n\nYou've been added as a member of application %3, submitted by %4.\n\nYou can view application and accept the terms of use at %6"}
          :member-invited {:subject "Invitation to participate in application %3"
                           :message "Dear %1,\n\nYou have been invited to participate in application %3, by %2.\n\nYou can view the application and accept the terms of use at %4"}
          :regards "\n\nKind regards,\n\nREMS\n"
          :remarked {:subject "(%3) Application has been commented"
                     :message "Dear %1,\n\n%2 has commented on the application %3, submitted by %4.\n\nYou can review the application at %6"}
          :review-requested {:subject "(%3) Review request"
                             :message "Dear %1,\n\n%2 has requested your review on application %3, submitted by %4.\n\nYou can review the application at %6"}
          :reviewed {:subject "(%3) Application has been reviewed"
                     :message "Dear %1,\n\n%2 has reviewed the application %3, submitted by %4.\n\nYou can review the application at %6"}
          :reviewer-reminder {:application "%1, submitted by %2"
                              :message "Dear %1,\n\nThe following applications are waiting for a review from you:\n\n%2\n\nYou can view the applications at %3"
                              :subject "Applications pending review"}}
  :footer "CSC – IT Center for Science"
  :form {:accepted-licenses "Accepted terms of use"
         :actions "Actions"
         :add-comments-not-shown-to-applicant "Add comment (not shown to applicant)"
         :add-comments-shown-to-applicant "Add comment (shown to applicant)"
         :add-remark "Add remark (shown or hidden to applicant)"
         :alert-blacklisted-users "These members of the application are blacklisted for some of the applied resources:"
         :alert-disabled-resources "Resources no longer available:"
         :application "Application"
         :attachment-remove "Remove"
         :checkbox-checked "Yes"
         :checkbox-unchecked "No"
         :comment "Comment"
         :copy-as-new "Copy as a new application"
         :current-value "Current"
         :date "Time"
         :diff-hide "Hide changes"
         :diff-show "Show changes"
         :event "Event"
         :events "Events"
         :failed "Failed"
         :has-accepted-licenses "Terms of use accepted."
         :invalid-attachment "Attachment file type not allowed."
         :licenses "Terms of use"
         :maxlength "(max %1 characters)"
         :must-accept-licenses "Each member is required to accept the terms of use to access the resources."
         :optional "(optional)"
         :please-wait "Please wait"
         :previous-applications "Applicant's previous applications"
         :previous-value "Previous"
         :required "*"
         :resources "Resources"
         :save "Save as draft"
         :submit "Send application"
         :success "Success"
         :upload "Upload an attachment"
         :upload-extensions "Allowed file types"
         :validation {:invalid-email "Invalid email address."
                      :invalid-user "Invalid user."
                      :invalid-value "Invalid value."
                      :required "Field \"%1\" is required."
                      :toolong "Text in field \"%1\" too long."}}
  :header {:title "REMS"}
  :item-lists {:move-down "Move down"
               :move-up "Move up"
               :remove "Remove"}
  :link {:download-file "Download file"
         :opens-in-new-window "Opens in a new window"}
  :login {:alternative "Other login options"
          :intro [:div [:h1 "Welcome to REMS"] [:p "This is a demo environment for testing the REMS software. The demo environment has a couple of fictional datasets to which you can apply for access. More information is available on " [:a {:href "/extra-pages/about"} "About"] " page."]
                  [:p "Please, login to access REMS."]]
          :oidc-text "Login with OpenID Connect"
          :text "Login with Haka credentials"
          :title "Login"}
  :missing "Missing translation %1"
  :navigation {:actions "Actions"
               :administration "Administration"
               :applications "Applications"
               :catalogue "Catalogue"
               :change-language "Change language to %1"
               :home "Home"
               :logout "Sign out"
               :settings "Settings"
               :skip-navigation "Skip to main content"}
  :not-found-page {:not-found "Not found"
                   :page-was-not-found "This page was not found."}
  :pdf {:generated "This PDF generated at"}
  :phases {:apply "Apply"
           :approve "Approval"
           :approved "Approved"
           :phase-active "Phase active:"
           :phase-closed "Phase closed:"
           :phase-completed "Phase completed:"
           :phase-pending "Phase pending:"
           :phase-rejected "Phase rejected:"
           :phase-revoked "Phase revoked:"
           :rejected "Rejected"
           :revoked "Revoked"}
  :search {:clear-search "Clear search"
           :example-searches "Example searches"
           :learn-more "Learn more"
           :search "Search"}
  :settings {:idp-email "Email address from identity provider"
             :no-email "(no email address)"
             :notification-email "Use another email address for notifications"
             :save "Save"
             :warning-about-missing-email [:<> "You will need to " [:a {:href "/settings"} "add an email address to your settings"] ", so that you can receive notifications about your applications."]}
  :table {:ascending-order "Ascending order"
          :descending-order "Descending order"
          :all-rows-selected "All rows selected"
          :no-rows-selected "No rows selected"
          :some-rows-selected "Some rows selected"
          :show-all-n-rows "Show all %1 rows"}
  :unauthorized-page {:unauthorized "Unauthorized"
                      :you-are-unauthorized "You're unauthorized to access this page."}
  :forbidden-page {:forbidden "Forbidden"
                   :you-are-forbidden "Access to the page is forbidden."}}}
