{:t
 {:about {:text [[:div.document
                  [:h2 "REMS-Demo"]
                  [:p "This is a demo environment for testing the REMS software. The demo environment has a couple of fictional datasets to which you can apply for access. For each dataset, there is an application form that the applicant fills in and submits and a workflow that determines how and to whom the submitted application is circulated for approval."]
                  [:p "You can use the demo usernames and passwords below to log in with various roles. The demo environment does not control access to any real datasets and does not send any email notifications to the applicants, reviewers or approvers of the applications."]
                  [:p [:strong "The demo environment might get cleaned occasionally"] ", which will make all applications and access rights disappear. However, please notice that the applications or configurations you make may be visible to the other persons using the demo."]
                  [:p [:a {:href "http://www.csc.fi/rems"} "More information on the REMS tool."]]
                  [:p "REMS support: rems@csc.fi"]
                  [:h3 "User Accounts and Roles"]
                  [:p "Following test user accounts (roles) can be used when signing in using Haka test IdP:"]
                  [:p [:strong "1. Applicant 1"] [:br]
                   "Username: RDapplicant1" [:br]
                   "Password: RDapplicant1" [:br]
                   "Description: Use this account to apply for access rights to a dataset."]
                  [:p [:strong "2. Applicant 2"] [:br]
                   "Username: RDapplicant2" [:br]
                   "Password: RDapplicant2" [:br]
                   "Description: Another account for applying for access rights. For instance, RDapplicant1 can add this user to an application as a member to whom equal access rights are applied as well."]
                  [:p [:strong "3. Reviewer"] [:br]
                   "Username: RDreview" [:br]
                   "Password: RDreview" [:br]
                   "Description: A reviewer can provide comments on an application to the approver but cannot approve or reject the application."]
                  [:p [:strong "4. Approver 1"] [:br]
                   "Username: RDapprover1" [:br]
                   "Password: RDapprover1" [:br]
                   "Description: An approver can approve, reject, close and return applications"]
                  [:p [:strong "5. Approver 2"] [:br]
                   "Username: RDapprover2" [:br]
                   "Password: RDapprover2" [:br]
                   "Description: Some datasets in the demo have several parallel or alternative approvers."]
                  [:p [:strong "6. Dataset Owner"] [:br]
                   "Username: RDowner" [:br]
                   "Password: RDowner" [:br]
                   "Description: A dataset owner can add new datasets and change properties of a dataset, such as its application form, approval workflow and approvers."]
                  [:p [:strong "6. Reporter"] [:br]
                   "Username: RDdomainreporter" [:br]
                   "Password: RDdomainreporter" [:br]
                   "Description: A reporter can see all applications."]
                  [:h3 "Terms of Use"]
                  [:p "You agree not to do anything that infringes any laws or regulations or the rights of another (such as copyright) or is obscene, threatening, violent, abusive, hateful, harassing or otherwise objectionable."]
                  [:p "You agree not to introduce to REMS any information that relates to an identified or identifiable natural person."]
                  [:h3 "Acknowledgements"]
                  [:p "CSC’s work for REMS has been supported by the Ministry of Education and Culture of Finland and by Academy of Finland grants 271642 and 263164 to construct Biomedinfra, the Finnish consortium for ELIXIR, BBMRI and EATRIS ESFRI."]]]}
  :actions {:accept-invitation "Accept invitation"
            :accept-invitation-success [:div [:p "Joining the application was successful."] [:p "Next you will be taken to the application."]]
            :accept-invitation-already-member [:div [:p "You are already a member."] [:p "Next you will be taken to the application."]]
            :accept-licenses "Accept terms of use"
            :add-licenses "Add terms of use"
            :add-member "Add member"
            :bundling-error "The resources can't be bundled into one application."
            :bundling-warning "The resources can't normally be bundled into one application because they have different forms or workflows."
            :change-form-error "The resources can't be applied with this application. Change them or make a new application."
            :change-form-warning "Form is different from the form of the original application."
            :change-workflow-error "The resources can't be applied with this application. Change them or make a new application."
            :change-workflow-warning "Workflow is different from the workflow of the original application."
            :change-resources "Change resources"
            :applicant "Applicant"
            :approve "Approve"
            :approve-reject "Approve or reject"
            :cancel "Cancel"
            :close "Delete"
            :comment "Comment"
            :comment-placeholder "Comment"
            :created "Created"
            :decide "Decide"
            :description "Description"
            :empty "You don't have any applications to process."
            :errors {:invalid-token [:div [:p "Joining the application failed."] [:p "Check the invitation token " [:code "%1"]]]}
            :export-entitlements "Export entitlements as csv"
            :handled-approvals "Processed applications"
            :id "Id"
            :invite-member "Invite member"
            :last-activity "Last activity"
            :licenses-selection "Require following additional terms of use"
            :load-application-states "Load application states"
            :member "Member"
            :member-name "Name"
            :member-email "Email"
            :no-handled-yet "You have not processed any applications yet."
            :ok "Ok"
            :open-approvals "Open applications"
            :reject "Reject"
            :remove-member "Remove member"
            :request-comment "Request comment"
            :request-decision "Request decision"
            :request-selection "Send request to users"
            :resource "Resource"
            :resources-selection "Following resources will be included in the application"
            :return "Return to applicant"
            :show-publications "Show publications"
            :show-throughput-times "Show throughput times"
            :state "State"}
  :administration {:active "Active"
                   :archive "Archive"
                   :back "Back"
                   :cancel "Cancel"
                   :catalogue-item "Catalogue item"
                   :catalogue-items "Catalogue items"
                   :create-catalogue-item "Create catalogue item"
                   :create-form "Create form"
                   :create-license "Create license"
                   :create-resource "Create resource"
                   :create-workflow "Create workflow"
                   :created "Created"
                   :disable "Disable"
                   :display-old "Display old"
                   :edit "Edit"
                   :edit-workflow "Edit workflow"
                   :enable "Enable"
                   :end "End"
                   :errors {:duplicate-resid "Duplicate resource for organization."
                            :form-in-use "Form is in use by:"
                            :license-in-use "License is in use by:"
                            :resource-in-use "Resource is in use by:"
                            :workflow-in-use "Workflow is in use by:"}
                   :form "Form"
                   :forms "Forms"
                   :license "License"
                   :license-field "License \"%1\""
                   :licenses "Licenses"
                   :no-licenses "No licenses"
                   :organization "Organization"
                   :organization-placeholder "testorganization.org"
                   :preview "Preview"
                   :resource "Resource"
                   :resources "Resources"
                   :rounds "Rounds"
                   :save "Save"
                   :start "Start"
                   :title "Title"
                   :type "Type"
                   :unarchive "Unarchive"
                   :view "View"
                   :workflow "Workflow"
                   :workflows "Workflows"}
  :applicant-info {:applicant "Applicant"
                   :applicants "Applicants"
                   :email "Email"
                   :invited-member "Invited member"
                   :member "Member"
                   :name "Name"
                   :username "Username"}
  :applications {:all-applications "All Applications"
                 :application "Application"
                 :applications "Applications"
                 :empty "You don't have any applications."
                 :events {:approved "Approved"
                          :closed "Deleted"
                          :comment-requested "Comment requested"
                          :commented "Commented"
                          :created "Created"
                          :decided "Decided"
                          :decision-requested "Decision requested"
                          :draft-saved "Saved"
                          :licenses-added "Added terms of use"
                          :licenses-accepted "Accepted terms of use"
                          :member-added "Member added"
                          :member-invited "Member invited"
                          :member-joined "Member joined"
                          :member-removed "Member removed"
                          :member-uninvited "Member uninvited"
                          :rejected "Rejected"
                          :resources-changed "Resources changed"
                          :returned "Changes requested"
                          :submitted "Applied"
                          :unknown "Unknown"}
                 :my-applications "My Applications"
                 :state "State"
                 :states {:approved "Approved"
                          :closed "Deleted"
                          :draft "Draft"
                          :rejected "Rejected"
                          :returned "Returned"
                          :submitted "Applied"
                          :unknown "Unknown"}
                 :latest-activity "Latest activity %1"
                 :view "View"}
  :autocomplete {:no-results "No results"
                 :placeholder "Choose or type"}
  :cart {:add "Add to cart"
         :apply "Apply"
         :apply-for-bundle "Apply for these %1 resources as a bundle "
         :header "%1 resources in cart"
         :remove "Remove"}
  :catalogue {:catalogue "Catalogue"
              :header "Resource"
              :more-info "More info"
              :continue-existing-application "Continue existing application"
              :apply-resources "Apply for resources"}
  :collapse {:show-less "Show less"
             :show-more "Show more"}
  :create-catalogue-item {:form-selection "Form"
                          :resource-selection "Resource"
                          :title "Name"
                          :title-placeholder "Name"
                          :workflow-selection "Workflow"}
  :create-form {:add-form-field "Add field"
                :add-option "Add option"
                :field-n "Field %1"
                :field-title "Field title"
                :input-prompt "Placeholder text"
                :maxlength "Maximum length (optional)"
                :option-key "ID code"
                :option-label "Label"
                :option-n "Option %1"
                :optional "Optional"
                :title "Form name"
                :type-attachment "Attachment"
                :type-date "Date field"
                :type-description "Description"
                :type-label "Label"
                :type-multiselect "Multi-select list"
                :type-option "Option list"
                :type-text "Text field"
                :type-texta "Text area"}
  :create-license {:external-link "External link"
                   :inline-text "Inline text"
                   :license-attachment "Attachment"
                   :license-text "License text"
                   :license-type "License type"
                   :link-to-license "Link to the license"
                   :title "License name"}
  :create-resource {:licenses-selection "Licenses"
                    :resid "Resource identifier"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:approvers "Approvers"
                    :auto-approve-workflow "Auto-approve"
                    :auto-approve-workflow-description "The application will be approved immediately without human intervention."
                    :dynamic-workflow "Dynamic workflow"
                    :dynamic-workflow-description "The handler will decide on a case by case basis that who needs to review or approve the application."
                    :handlers "Handlers"
                    :reviewers "Reviewers"
                    :round-n "Round %1"
                    :rounds-workflow "Round-based workflow"
                    :title "Title"}
  :email {:application-approved {:subject "Your application has been approved"
                                 :message "Dear %1,\nYour application %2 has been approved.\nView your application: %3"}
          :application-rejected {:subject "Your application has been rejected"
                                 :message "Dear %1,\nYour application %2 has been rejected.\nView your application: %3"}
          :application-closed {:subject "Your application has been closed"
                               :message "Dear %1,\nYour application %2 has been closed.\nView your application: %3"}
          :application-submitted {:subject "A new application has been submitted"
                                  :message "Dear %1,\nUser %2 has submitted a new application %3.\nView the application: %4"}
          :comment-requested {:subject "Comment request"
                              :message "Dear %1,\nUser %2 has requested your comment on application %3.\nComment here: %4"}
          :commented {:subject "New comment notification"
                      :message "Dear %1,\nUser %2 has posted a comment on application %3.\nView the application: %4"}
          :decided {:subject "New decision notification"
                    :message "Dear %1,\nUser %2 has sent a decision on application %3.\nView the application: %4"}
          :decision-requested {:subject "Decision request"
                               :message "Dear %1,\nUser %2 has requested your decision on application %3.\nView the application: %4"}
          :footer "\nPlease do not reply to this automatically generated message."
          :member-added {:subject "You've been added as a member to an application"
                         :message "Dear %1,\nYou've been added as a member to application %2.\nView the application: %3"}
          :member-invited {:subject "Invitation to participate in an application"
                           :message "Hello,\nThis email address (%1) has been invited to participate in an application.\nParticipate with this link: %2"}}
  :footer "Powered by CSC - IT Center for Science"
  :form {:accepted-licenses "Accepted terms of use"
         :actions "Actions"
         :add-comments-not-shown-to-applicant "Add comment (not shown to applicant)"
         :add-comments-shown-to-applicant "Add comment (shown to applicant)"
         :alert-disabled-resources "The following resources can't be applied anymore."
         :application "Application"
         :attachment-remove "Remove"
         :checkbox-checked "Yes"
         :checkbox-unchecked "No"
         :comment "Comment"
         :current-value "Current"
         :date "Time"
         :diff-hide "Hide changes"
         :diff-show "Show changes"
         :event "Event"
         :events "Events"
         :failed "Failed"
         :has-accepted-licenses "You have accepted the terms of use."
         :licenses "Terms of Use"
         :maxlength "(max %1 characters)"
         :must-accept-licenses "To be eligible to the resources of this application, each member must accept the following terms of use."
         :no-attachment "No attachment"
         :optional "(optional)"
         :resources "Resources"
         :save "Save as draft"
         :submit "Send application"
         :success "Success"
         :previous-value "Previous"
         :upload "Upload an attachment"
         :user "User"
         :validation {:errors "There were problems. Check the following fields."
                      :invalid-user "Invalid user."
                      :required "Field \"%1\" is required."
                      :toolong "Answer to field \"%1\" is too long."}}
  :header {:title "Welcome to REMS"}
  :item-lists {:move-down "Move down"
               :move-up "Move up"
               :remove "Remove"}
  :ldap {:failed "Login failed"
         :login "Login"
         :password "Password"
         :title "LDAP Login"
         :username "Username"}
  :link {:download-file "Download file"
         :opens-in-new-window "Opens in new window"}
  :login {:alternative "Other sign in options"
          :text "Login by using your Haka credentials"
          :title "Login"}
  :missing "Missing translation %1"
  :navigation {:about "About"
               :actions "Actions"
               :administration "Administration"
               :applications "Applications"
               :catalogue "Catalogue"
               :home "Home"
               :logout "Sign out"}
  :not-found-page {:not-found "Not found"
                   :page-was-not-found "Page was not found."}
  :phases {:apply "Apply"
           :approve "Approval"
           :approved "Approved"
           :phase-active "Phase active:"
           :phase-closed "Phase closed:"
           :phase-completed "Phase completed:"
           :phase-pending "Phase pending:"
           :phase-rejected "Phase rejected:"
           :rejected "Rejected"}
  :search {:close-search "Close search"
           :open-search "Open search"
           :search "Search"
           :search-parameters "Search parameters"}
  :unauthorized-page {:unauthorized "Unauthorized"
                      :you-are-unauthorized "You are unauthorized to use this page."}
  :forbidden-page {:forbidden "Forbidden"
                   :you-are-forbidden "You are not allowed to use this page."}}}
