{:t
 {:actions {:accept-invitation "Accept invitation"
            :accept-invitation-success [:div [:p "Joining the application was successful."] [:p "Next you will be taken to the application."]]
            :accept-invitation-already-member [:div [:p "You are already a member."] [:p "Next you will be taken to the application."]]
            :accept-licenses "Accept terms of use"
            :add-licenses "Add terms of use"
            :add-member "Add member"
            :bundling-error "The resources can't be bundled into one application."
            :bundling-warning "The resources can't normally be bundled into one application because they have different forms or workflows."
            :change-form-error "The resources can't be applied with this application. Change them or make a new application."
            :change-form-warning "Form is different from the form of the original application."
            :change-workflow-error "The resources can't be applied with this application. Change them or make a new application."
            :change-workflow-warning "Workflow is different from the workflow of the original application."
            :change-resources "Change resources"
            :applicant "Applicant"
            :approve "Approve"
            :approve-reject "Approve or reject"
            :cancel "Cancel"
            :close "Delete"
            :comment "Comment"
            :comment-placeholder "Comment"
            :created "Created"
            :decide "Decide"
            :description "Description"
            :empty "You don't have any applications to process."
            :errors {:invalid-token [:div [:p "Joining the application failed."] [:p "Check the invitation token " [:code "%1"]]]}
            :export-entitlements "Export entitlements as csv"
            :handled-applications "Processed applications"
            :id "Id"
            :invite-member "Invite member"
            :last-activity "Last activity"
            :licenses-selection "Require following additional terms of use"
            :load-application-states "Load application states"
            :member "Member"
            :member-name "Name"
            :member-email "Email"
            :no-handled-yet "You have not processed any applications yet."
            :ok "Ok"
            :todo-applications "Open applications"
            :reject "Reject"
            :remove-member "Remove member"
            :request-comment "Request comment"
            :request-decision "Request decision"
            :request-selection "Send request to users"
            :resource "Resource"
            :resources-selection "Following resources will be included in the application"
            :return "Return to applicant"
            :show-publications "Show publications"
            :show-throughput-times "Show throughput times"
            :state "State"
            :submitted "Sent"}
  :administration {:active "Active"
                   :archive "Archive"
                   :back "Back"
                   :cancel "Cancel"
                   :catalogue-item "Catalogue item"
                   :catalogue-items "Catalogue items"
                   :copy-as-new "Copy as new"
                   :create-catalogue-item "Create catalogue item"
                   :create-form "Create form"
                   :create-license "Create license"
                   :create-resource "Create resource"
                   :create-workflow "Create workflow"
                   :created "Created"
                   :disable "Disable"
                   :display-old "Display old"
                   :edit "Edit"
                   :edit-workflow "Edit workflow"
                   :enable "Enable"
                   :end "End"
                   :errors {:duplicate-resid "Duplicate resource for organization."
                            :form-in-use "Form is in use by:"
                            :license-in-use "License is in use by:"
                            :resource-in-use "Resource is in use by:"
                            :workflow-in-use "Workflow is in use by:"}
                   :form "Form"
                   :forms "Forms"
                   :license "License"
                   :license-field "License \"%1\""
                   :licenses "Licenses"
                   :no-licenses "No licenses"
                   :organization "Organization"
                   :organization-placeholder "testorganization.org"
                   :preview "Preview"
                   :resource "Resource"
                   :resources "Resources"
                   :rounds "Rounds"
                   :save "Save"
                   :start "Start"
                   :title "Title"
                   :type "Type"
                   :unarchive "Unarchive"
                   :view "View"
                   :workflow "Workflow"
                   :workflows "Workflows"}
  :applicant-info {:applicant "Applicant"
                   :applicants "Applicants"
                   :email "Email"
                   :invited-member "Invited member"
                   :member "Member"
                   :name "Name"
                   :username "Username"}
  :applications {:all-applications "All Applications"
                 :application "Application"
                 :applications "Applications"
                 :empty "You don't have any applications."
                 :events {:approved "Approved"
                          :closed "Deleted"
                          :comment-requested "Comment requested"
                          :commented "Commented"
                          :created "Created"
                          :decided "Decided"
                          :decision-requested "Decision requested"
                          :draft-saved "Saved"
                          :licenses-added "Added terms of use"
                          :licenses-accepted "Accepted terms of use"
                          :member-added "Member added"
                          :member-invited "Member invited"
                          :member-joined "Member joined"
                          :member-removed "Member removed"
                          :member-uninvited "Member uninvited"
                          :rejected "Rejected"
                          :resources-changed "Resources changed"
                          :returned "Changes requested"
                          :submitted "Applied"
                          :unknown "Unknown"}
                 :my-applications "My Applications"
                 :state "State"
                 :states {:approved "Approved"
                          :closed "Deleted"
                          :draft "Draft"
                          :rejected "Rejected"
                          :returned "Returned"
                          :submitted "Applied"
                          :unknown "Unknown"}
                 :latest-activity "Latest activity %1"
                 :view "View"}
  :autocomplete {:no-results "No results"
                 :placeholder "Choose or type"}
  :cart {:add "Add to cart"
         :apply "Apply"
         :apply-for-bundle "Apply for these %1 resources as a bundle "
         :header "%1 resources in cart"
         :remove "Remove"}
  :catalogue {:catalogue "Catalogue"
              :header "Resource"
              :intro [:p "The catalogue contains all the resources that you can apply for in this system."]
              :more-info "More info"
              :continue-existing-application "Continue existing application"
              :continue-existing-application-intro "You have existing unfinished applications that you can continue from here."
              :apply-resources "Apply for resources"}
  :collapse {:show-less "Show less"
             :show-more "Show more"}
  :create-catalogue-item {:form-selection "Form"
                          :resource-selection "Resource"
                          :title "Name"
                          :title-placeholder "Name"
                          :workflow-selection "Workflow"}
  :create-form {:add-form-field "Add field"
                :add-option "Add option"
                :field-n "Field %1"
                :field-title "Field title"
                :input-prompt "Placeholder text (optional)"
                :maxlength "Maximum length (optional)"
                :option-key "ID code"
                :option-label "Label"
                :option-n "Option %1"
                :optional "Optional"
                :title "Form name"
                :type-attachment "Attachment"
                :type-date "Date field"
                :type-description "Description"
                :type-label "Label"
                :type-multiselect "Multi-select list"
                :type-option "Option list"
                :type-text "Text field"
                :type-texta "Text area"}
  :create-license {:external-link "External link"
                   :inline-text "Inline text"
                   :license-attachment "Attachment"
                   :license-text "License text"
                   :license-type "License type"
                   :link-to-license "Link to the license"
                   :title "License name"}
  :create-resource {:licenses-selection "Licenses"
                    :resid "Resource identifier"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:approvers "Approvers"
                    :auto-approve-workflow "Auto-approve"
                    :auto-approve-workflow-description "The application will be approved immediately without human intervention."
                    :dynamic-workflow "Dynamic workflow"
                    :dynamic-workflow-description "The handler will decide on a case by case basis that who needs to review or approve the application."
                    :handlers "Handlers"
                    :reviewers "Reviewers"
                    :round-n "Round %1"
                    :rounds-workflow "Round-based workflow"
                    :title "Title"}
  :email {:application-approved {:subject "Application approved (%2)"
                                 :message "Dear %1,\n\nYour application %2 has been approved.\n\nView application: %3"}
          :application-rejected {:subject "Application rejected (%2)"
                                 :message "Dear %1,\n\nYour application %2 has been rejected.\n\nView application: %3"}
          :application-closed {:subject "Application closed (%2)"
                               :message "Dear %1,\n\nYour application %2 has been closed.\n\nView application: %3"}
          :application-submitted {:subject "Application submitted (%2: %3)"
                                  :message "Dear %1,\n\n%2 has submitted an application (%3): %4.\n\nView application: %5"}
          :comment-requested {:subject "Comment requested (%2: %3)"
                              :message "Dear %1,\n\n%2 has requested a comment on application %3.\n\nComment: %4"}
          :commented {:subject "Comment added (%2: %3)"
                      :message "Dear %1,\n\n%2 has commented application %3.\n\nView application: %4"}
          :decided {:subject "Decision made (%2: %3)"
                    :message "Dear %1,\n\n%2 has made a decision on application %3.\n\nView application: %4"}
          :decision-requested {:subject "Decision requested (%2: %3)"
                               :message "Dear %1,\n\n%2 has requested your decision on application %3.\n\nView application: %4"}
          :footer "\n\nPlease don't reply to this automatically generated message."
          :member-added {:subject "Added as a member of an application (%2)"
                         :message "Dear %1,\n\nYou've been added as a member of application %2.\n\nView application: %3"}
          :member-invited {:subject "Invitation to participate in an application"
                           :message "Hello,\n\nThis email address (%1) has been invited to participate in an application.\n\nParticipate: %2"}}
  :footer "Powered by CSC - IT Center for Science"
  :form {:accepted-licenses "Accepted terms of use"
         :actions "Actions"
         :add-comments-not-shown-to-applicant "Add comment (not shown to applicant)"
         :add-comments-shown-to-applicant "Add comment (shown to applicant)"
         :alert-disabled-resources "The following resources can't be applied anymore."
         :application "Application"
         :attachment-remove "Remove"
         :checkbox-checked "Yes"
         :checkbox-unchecked "No"
         :comment "Comment"
         :current-value "Current"
         :date "Time"
         :diff-hide "Hide changes"
         :diff-show "Show changes"
         :event "Event"
         :events "Events"
         :failed "Failed"
         :has-accepted-licenses "You have accepted the terms of use."
         :licenses "Terms of Use"
         :maxlength "(max %1 characters)"
         :must-accept-licenses "To be eligible to the resources of this application, each member must accept the following terms of use."
         :no-attachment "No attachment"
         :optional "(optional)"
         :resources "Resources"
         :save "Save as draft"
         :submit "Send application"
         :success "Success"
         :previous-value "Previous"
         :upload "Upload an attachment"
         :user "User"
         :validation {:errors "There were problems. Check the following fields."
                      :invalid-user "Invalid user."
                      :invalid-value "Invalid value."
                      :required "Field \"%1\" is required."
                      :toolong "Answer to field \"%1\" is too long."}}
  :header {:title "Welcome to REMS"}
  :item-lists {:move-down "Move down"
               :move-up "Move up"
               :remove "Remove"}
  :ldap {:failed "Login failed"
         :login "Login"
         :password "Password"
         :title "LDAP Login"
         :username "Username"}
  :link {:download-file "Download file"
         :opens-in-new-window "Opens in new window"}
  :login {:alternative "Other sign in options"
          :intro [:div [:h1 "Welcome to REMS"] [:p "This is a demo environment for testing the REMS software."]
                  [:p "Please, login first to access REMS."]]
          :text "Login by using your Haka credentials"
          :title "Login"}
  :missing "Missing translation %1"
  :modal {:close-dialog "Close dialog"}
  :navigation {:actions "Actions"
               :administration "Administration"
               :applications "Applications"
               :catalogue "Catalogue"
               :home "Home"
               :logout "Sign out"
               :skip-navigation "Skip to main content"}
  :not-found-page {:not-found "Not found"
                   :page-was-not-found "Page was not found."}
  :phases {:apply "Apply"
           :approve "Approval"
           :approved "Approved"
           :phase-active "Phase active:"
           :phase-closed "Phase closed:"
           :phase-completed "Phase completed:"
           :phase-pending "Phase pending:"
           :phase-rejected "Phase rejected:"
           :rejected "Rejected"}
  :search {:close-search "Close search"
           :open-search "Open search"
           :search-parameters "Search parameters"}
  :unauthorized-page {:unauthorized "Unauthorized"
                      :you-are-unauthorized "You are unauthorized to use this page."}
  :forbidden-page {:forbidden "Forbidden"
                   :you-are-forbidden "You are not allowed to use this page."}}}
