{:t
 {:about {:text [[:div.document
                  [:h2 "REMS-demo"]
                  [:p "Tämä on demo-ympäristö, joka on tarkoitettu REMS-ohjelmiston kokeilemiseen. Demo-ympäristöön on luotu valmiiksi joitain kuvitteellisia tietoaineistoja, joihin voit hakea käyttöoikeutta. Kullekin tietoaineistolle on luotu hakulomake, jonka hakija täyttää ja lähettää, sekä työnkulku, joka määrittelee, minkälaisen käsittelypolun lähetetty lomake kulkee."]
                  [:p "Demo-ympäristöön voi kirjautua eri rooleissa alla olevilla käyttäjätunnuksilla ja salasanoilla. REMS-demo ei kontrolloi minkään todellisen tietoaineiston käyttöoikeuksia. Demo-ympäristöstä ei myöskään lähetetä sähköposti-ilmoituksia käyttöoikeuden hakijoille, kommentoijille tai hyväksyjille."]
                  [:p [:strong "Demoympäristö saatetaan nollata ajoittain "] ", jolloin kaikki tehdyt hakemukset ja käyttöoikeudet pyyhkiytyvät. Huomioi kuitenkin, että demotunnuksilla tekemäsi hakemukset ja muutokset saattavat sitä ennen näkyä muille kokeilijoille."]
                  [:p [:a {:href "http://www.csc.fi/rems"} "Lisätietoa REMS-ohjelmistosta"] "."]
                  [:p "REMS-tuki: rems@csc.fi"]
                  [:h3 "Testitilit ja roolit"]
                  [:p "Hakan testi-IdP:ltä löytyy seuraavia testitunnuksia:"]
                  [:p [:strong "1. Käyttöluvanhakija 1"] [:br]
                   "Käyttäjätunnus: RDapplicant1" [:br]
                   "Salasana: RDapplicant1" [:br]
                   "Kuvaus: Kirjaudu tällä tunnuksella hakeaksesi tietoaineiston käyttöoikeutta."]
                  [:p [:strong "2. Käyttöluvanhakija 2"] [:br]
                   "Käyttäjätunnus: RDapplicant2" [:br]
                   "Salasana: RDapplicant2" [:br]
                   "Kuvaus: Toinen tunnus tietoaineiston käyttöoikeuden hakemiseen. RDapplicant1 voi vaikkapa kutsua tämän käyttäjän käyttölupahakemuksensa toiseksi jäseneksi, jolloin käyttöoikeuksia anotaan samalla myös hänelle."]
                  [:p [:strong "3. Katselmoija"] [:br]
                   "Käyttäjätunnus: RDreview" [:br]
                   "Salasana: RDreview" [:br]
                   "Kuvaus: Katselmoija voi kommentoida saapunutta käyttölupahakemusta mutta ei voi hyväksyä tai hylätä sitä."]
                  [:p [:strong "4. Hyväksyjä 1"] [:br]
                   "Käyttäjätunnus: RDapprover1" [:br]
                   "Salasana: RDapprover1" [:br]
                   "Kuvaus: Hyväksyjä hyväksyy tai hylkää saapuneen käyttölupahakemuksen tai palauttaa sen täydennettäväksi."]
                  [:p [:strong "5. Hyväksyjä 2"] [:br]
                   "Käyttäjätunnus: RDapprover2" [:br]
                   "Salasana: RDapprover2" [:br]
                   "Kuvaus: Demon eräillä tietoaineistoilla on useita rinnakkaisia tai vaihtoehtoisia hyväksyjiä."]
                  [:p [:strong "6. Aineiston omistaja"] [:br]
                   "Käyttäjätunnus: RDowner" [:br]
                   "Salasana: RDowner" [:br]
                   "Kuvaus: Aineiston omistaja voi lisätä uusia tietoaineistoja ja muuttaa niiden ominaisuuksia, kuten hakulomaketta, hyväksymisprosessia ja hyväksyjiä."]
                  [:h3 "Aineistot"]
                  [:p [:strong "ELFA-korpus, suora hyväksyntä"] [:br]
                   "Kuvaus: Tässä aineistossa on minimi työkulku. Käyttäjä sitoutuu lisenssin ehtoihin ja saa käyttöluvan."]
                  [:p [:strong "ELFA-korpus, yksi hyväksyntä"] [:br]
                   "Kuvaus: Tässä aineistossa on yksinkertainen työkulku. Hakemus lähetetään yhdelle henkilölle (RDapprover1) hyväksyttäväksi."]
                  [:p [:strong "ELFA-korpus, katselmoinnilla"] [:br]
                   "Kuvaus: Tässä aineistossa on yksinkertainen työkulku. Katselmoija (RDreview) voi vain kommentoida hyväksyjälle (RDapprover1) menevää hakemusta."]
                  [:p [:strong "ELFA-korpus, kaksi hyväksyntäkierrosta eri hyväksyjillä"] [:br]
                   "Kuvaus: Tässä aineistossa on kaksivaiheinen hyväksyntä. Hakemuksen hyväksyy ensin käyttäjä RDapprover1 ja sitten käyttäjä RDapprover2."]
                  [:h3 "Käyttöehdot"]
                  [:p "Sitoudut siihen, että et tee REMS-demossa mitään sellaista joka loukkaa lakeja tai asetuksia tai kolmannen osapuolen oikeuksia (kuten tekijänoikeuksia) tai on säädytöntä, uhkaavaa, väkivaltaista, herjaavaa, vihamielistä, häiritsevää tai muulla tavalla paheksuttavaa."]
                  [:p "Sitoudut siihen, että et syötä REMS-demoon mitään tunnistettua tai tunnistettavissa olevaa luonnollista henkilöä koskevaa tietoa."]
                  [:h3 "Rahoittaja"]
                  [:p "CSC:n REMS-tuote on saanut rahoitusta Opetus- ja kulttuuriministeriöltä ja Suomen akatemialta (apurahat 271642 ja 263164 Biomedinfraa varten, joka on Suomen ELIXIR, BBMRI ja EATRIS-tutkimusinfrastruktuurisolmujen muodostama konsortio)."]]]}
  :actions {:add-member "Add member"
            :applicant "Hakija"
            :application "Hakemus"
            :approve "Hyväksy"
            :approve-reject "Hyväksy tai hylkää"
            :approve-success "Hakemus hyväksytty"
            :cancel "Peruuta"
            :close "Poista"
            :close-success "Hakemus poistettu"
            :comment "Kommentoi"
            :comment-placeholder "Kommentti"
            :created "Luotu"
            :decide "Päätä"
            :description "Kuvaus"
            :empty "Sinulla ei ole hakemuksia käsiteltäväksi."
            :export-entitlements "Lataa käyttöoikeudet csv-tiedostona"
            :handled-approvals "Käsitellyt hakemukset"
            :handled-reviews "Käsitellyt katselmoinnit"
            :invite-member "Invite member"
            :last-modified "Muokattu"
            :load-application-states "Lataa hakemusten tilat"
            :member "Jäsen"
            :member-name "Nimi"
            :member-email "Sähköposti"
            :no-handled-yet "Et ole käsitellyt hakemuksia vielä."
            :not-implemented "Ei vielä toteutettu"
            :ok "Ok"
            :open-approvals "Avoimet hakemukset"
            :open-reviews "Avoimet katselmoinnit"
            :reject "Hylkää"
            :reject-success "Hakemus hylätty"
            :remove-member "Poista jäsen"
            :request-comment "Pyydä kommenttia"
            :request-decision "Pyydä päätöstä"
            :request-selection "Lähetä pyyntö henkilölle/henkilöille:"
            :resource "Resurssi"
            :return "Palauta hakijalle"
            :return-success "Hakemus palautettu"
            :review "Katselmoi"
            :review-request "Pyydä katselmointia"
            :review-request-selection "Lähetä katselmointipyyntö henkilölle/henkilöille:"
            :review-request-success "Katselmointipyyntö lähetetty"
            :review-success "Hakemus katselmoitu"
            :show-publications "Näytä julkaisut"
            :show-throughput-times "Näytä läpimenoajat"
            :state "Tila"
            :view "Näytä"
            :withdraw "Palauta muokattavaksi"
            :withdraw-success "Hakemus palautettu muokattavaksi"}
  :administration {:active "Aktiivinen"
                   :archive "Arkistoi"
                   :back "Takaisin"
                   :cancel "Peruuta"
                   :catalogue-item "Aineisto"
                   :catalogue-items "Aineistot"
                   :create-catalogue-item "Lisää aineisto"
                   :create-form "Uusi lomake"
                   :create-license "Uusi lisenssi"
                   :create-resource "Uusi resurssi"
                   :create-workflow "Uusi työvuo"
                   :created "Luotu"
                   :disable "Poista käytöstä"
                   :display-archived "Näytä arkistoidut"
                   :enable "Ota käyttöön"
                   :end "Loppu"
                   :errors {:duplicate-resid "Resurssi on jo olemassa organisaatiossa."}
                   :field "Kenttä \"%1\""
                   :fields "Kentät"
                   :form "Lomake"
                   :forms "Lomakkeet"
                   :id "Id"
                   :license "Lisenssi"
                   :license-field "License \"%1\""
                   :licenses "Lisenssit"
                   :no-licenses "Ei lisenssejä"
                   :organization "Organisaatio"
                   :organization-placeholder "testorganization.org"
                   :resource "Resurssi"
                   :resources "Resurssit"
                   :rounds "Rounds"
                   :save "Tallenna"
                   :start "Alku"
                   :title "Nimi"
                   :type "Tyyppi"
                   :unarchive "Palauta arkistosta"
                   :view "Avaa"
                   :workflow "Työvuo"
                   :workflows "Työvuot"}
  :applicant-info {:applicant "Hakija"
                   :applicants "Hakijat"
                   :email "Sähköposti"
                   :invited-member "Kutsuttu jäsen"
                   :member "Jäsen"
                   :name "Nimi"
                   :username "Käyttäjätunnus"}
  :applications {:application "Hakemus"
                 :applications "Hakemukset"
                 :created "Luotu"
                 :dynamic-events {:approved "Hyväksytty"
                                  :closed "Poistettu"
                                  :comment-requested "Pyydetty kommenttia"
                                  :commented "Kommentoitu"
                                  :created "Luotu"
                                  :decided "Päätetty"
                                  :decision-requested "Pyydetty päätöstä"
                                  :draft-saved "Muokattu"
                                  :member-added "Lisätty jäsen"
                                  :member-invited "Kutsuttu jäsen"
                                  :member-removed "Poistettu jäsen"
                                  :member-uninvited "Poistettu jäsen"
                                  :rejected "Hylätty"
                                  :returned "Palautettu muokattavaksi"
                                  :submitted "Haettu"}
                 :dynamic-states {:approved "Hyväksytty"
                                  :closed "Poistettu"
                                  :draft "Luonnos"
                                  :rejected "Hylätty"
                                  :returned "Palautettu"
                                  :submitted "Haettu"}
                 :empty "Sinulla ei ole hakemuksia."
                 :events {:apply "Lähetetty hyväksyttäväksi"
                          :approve "Hyväksytty"
                          :autoapprove "Automaattisesti hyväksytty"
                          :close "Poistettu"
                          :reject "Hylätty"
                          :return "Muutoksia pyydetty"
                          :review "Katselmoitu"
                          :review-request "Lähetetty katselmoitavaksi"
                          :save "Muokattu"
                          :third-party-review "Katselmoitu ulkoisen toimijan toimesta"
                          :unknown "Unknown"
                          :withdraw "Palautettu muokattavaksi"}
                 :resource "Resurssi"
                 :state "Tila"
                 :states {:applied "Haettu"
                          :approved "Hyväksytty"
                          :closed "Poistettu"
                          :draft "Luonnos"
                          :rejected "Hylätty"
                          :returned "Palautettu"
                          :unknown "Tuntematon"
                          :withdrawn "Palautettu takaisin"}
                 :last-modified "viimeksi muokattu"
                 :latest-comment "Viimeisin kommentti"
                 :user "Käyttäjä"
                 :view "Näytä"}
  :autocomplete {:no-results "Ei tuloksia"
                 :placeholder "Valitse tai kirjoita"}
  :cart {:add "Lisää koriin"
         :apply "Hae"
         :apply-for-bundle "Hae näitä aineistoja (%1 kpl) yhdessä "
         :checkout "Lähetä"
         :header "%1 aineistoa korissa"
         :remove "Poista"}
  :catalogue {:catalogue "Aineistoluettelo"
              :header "Aineistoluettelo"
              :more-info "Lisätietoja"
              :continue-existing-application "Jatka hakemusta"
              :apply-resources "Hae uusia resursseja"}
  :collapse {:show-less "Näytä vähemmän"
             :show-more "Näytä lisää"}
  :create-catalogue-item {:form-selection "Lomake"
                          :resource-selection "Resurssi"
                          :title "Nimi"
                          :title-placeholder "Nimi"
                          :workflow-selection "Työvuo"}
  :create-form {:add-form-item "Lisää kenttä"
                :add-option "Add option"
                :input-prompt "Esimerkkiteksti"
                :item-n "Kenttä %1"
                :item-title "Kentän otsikko"
                :maxlength "Maksimipituus (ei pakollinen)"
                :option-key "Tunnuskoodi"
                :option-label "Otsikko"
                :option-n "Vaihtoehto %1"
                :optional "Ei pakollinen"
                :options "Valinnat"
                :title "Lomakkeen nimi"
                :type "Tyyppi"
                :type-attachment "Liitetiedosto"
                :type-date "Päivämäärä"
                :type-description "Kuvaus"
                :type-label "Infokenttä"
                :type-multiselect "Monivalintalista"
                :type-option "Valintalista"
                :type-text "Tekstikenttä"
                :type-texta "Tekstialue"}
  :create-license {:external-link "Linkki"
                   :inline-text "Teksti"
                   :license-attachment "Liite"
                   :license-text "Lisenssin teksti"
                   :license-type "Lisenssin tyyppi"
                   :link-to-license "Linkki lisenssiin"
                   :title "Lisenssin nimi"}
  :create-resource {:licenses-selection "Lisenssit"
                    :resid "Resurssin tunniste"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:add-round "Lisää kierros"
                    :approval-round "Hyväksymiskierros"
                    :approvers "Hyväksyjät"
                    :auto-approve-workflow "Automaattinen hyväksyntä"
                    :auto-approve-workflow-description "Hakemus hyväksytään välittömästi, keneltäkään sen kummemmin kysymättä."
                    :dynamic-workflow "Dynaaminen työvuo"
                    :dynamic-workflow-description "Hakemuksen käsittelijä päättää tapauskohtaisesti, että kenen katselmointia tai hyväksyntää hakemus tarvitsee."
                    :handlers "Käsittelijät"
                    :remove-round "Poista kierros"
                    :review-round "Katselmointikierros"
                    :reviewers "Katselmoijat"
                    :round-n "Kierros %1"
                    :rounds-workflow "Kierrospohjainen työvuo"
                    :rounds-workflow-description "Hakemus valuu ennaltapäätettyjen katselmointi- ja hyväksymiskierrosten läpi."
                    :title "Työvuon nimi"}
  :email {:action-not-needed-msg "Hyvä %1,
                                  Hakijan %2 hakemus %3 ei enää vaadi huomiotanne.
                                  Älkää vastatko tähän automaattisesti luotuun viestiin."
          :action-not-needed-subject "Toimenpiteitä ei enää tarvita"
          :application-sent-msg "Hyvä %1,
                                 Hakemuksenne käyttää resursseja (%2) on lähetetty käsiteltäväksi.
                                 Saatte sähköpostitse tietoa hakemuksen etenemisestä. Voitte myös seurata sitä itse: %3
                                 Älkää vastatko tähän automaattisesti luotuun viestiin."
          :application-sent-subject "Uusi hakemus lähetetty"
          :approval-request-msg "Hyvä %1,
                                 %2 on tehnyt huomiotanne vaativan hakemuksen %3 käyttää resursseja %4.
                                 Voitte hyväksyä tai hylätä hakemuksen: %5
                                 Älkää vastatko tähän automaattisesti luotuun viestiin."
          :approval-request-subject "Hyväksymispyyntö"
          :review-request-msg "Hyvä %1,
                               %2 on tehnyt huomiotanne vaativan hakemuksen %3 käyttää resursseja %4.
                               Voitte katselmoida hakemuksen: %5
                               Älkää vastatko tähän automaattisesti luotuun viestiin."

          :review-request-subject "Katselmointi pyyntö"
          :status-changed-msg "Hyvä %1,
                               Hakemuksenne %2 käyttää resursseja (%3) on edennyt tilaan: %4.
                               Voitte seurata hakemustanne: %5
                               Älkää vastatko tähän automaattisesti luotuun viestiin."
          :status-changed-subject "Hakemuksen tila on muuttunut"}
  :footer "CSC - IT Center for Science"
  :form {:actions "Toiminnot"
         :add-comments "Lisää kommentti"
         :add-comments-not-shown-to-applicant "Lisää kommentti (ei näy hakijalle)"
         :add-comments-shown-to-applicant "Lisää kommentti (näkyy hakijalle)"
         :alert-disabled-items "Seuraavia resursseja ei voi enää hakea. Harkitse tämän luonnoksen sulkemista ja tee sitten uusi hakemus."
         :application "Tiedot"
         :attachment-remove "Poista"
         :back "Takaisin aineistoluetteloon"
         :back-actions "Takaisin hyväksyntiin"
         :back-reviews "Takaisin katselmointeihin"
         :comment "Kommentti"
         :date "Aika"
         :diff-hide "Piilota muutokset"
         :diff-show "Näytä muutokset"
         :event "Tapahtuma"
         :events "Tapahtumat"
         :failed "Epäonnistui"
         :licenses "Käyttöehdot"
         :maxlength "(enintään %1 merkkiä)"
         :optional "(ei pakollinen)"
         :resources "Resurssit"
         :save "Tallenna luonnos"
         :saved "Luonnos tallennettu."
         :submit "Lähetä hakemus"
         :submitted "Hakemus lähetetty."
         :success "Onnistui"
         :upload "Lisää liitetiedosto"
         :user "Käyttäjä"
         :validation {:errors "Lähetys epäonnistui. Tarkista seuraavat kentät."
                      :invalid-user "Käyttäjä ei kelpaa."
                      :required "Kenttä \"%1\" on pakollinen."
                      :toolong "Kentän \"%1\" vastaus on liian pitkä."}}
  :header {:title "Tervetuloa REMSiin"}
  :item-lists {:move-down "Siirrä alaspäin"
               :move-up "Siirrä ylöspäin"
               :remove "Poista"}
  :ldap {:failed "Kirjautuminen epäonnistui"
         :login "Kirjaudu"
         :password "Salasana"
         :title "LDAP-kirjautuminen"
         :username "Käyttäjänimi"}
  :login {:alternative "Muut kirjautumisvaihtoehdot"
          :text "Kirjaudu sisään Haka-tunnuksillasi"
          :title "Kirjaudu sisään"}
  :missing "Käännös puuttuu %1"
  :navigation {:about "Info"
               :actions "Toiminnot"
               :administration "Ylläpito"
               :applications "Hakemukset"
               :catalogue "Aineistoluettelo"
               :create-catalogue-item "Luo uusi aineisto luetteloon"
               :create-license "Luo lisenssi"
               :create-resource "Luo resurssi"
               :home "Etusivu"
               :login "Kirjaudu sisään"
               :logout "Kirjaudu ulos"}
  :not-found-page {:not-found "Sivua ei löytynyt"
                   :page-was-not-found "Tätä sivua ei löytynyt."}
  :phases {:apply "Hae"
           :approve "Hyväksyntä"
           :approved "Hyväksytty"
           :rejected "Hylätty"
           :review "Katselmointi"}
  :unauthorized-page {:unauthorized "Ei käyttöoikeuksia"
                      :you-are-unauthorized "Sinulla ei ole käyttöoikeuksia tähän sivuun."}
  :forbidden-page {:forbidden "Kielletty"
                   :you-are-forbidden "Sinulla ei ole pääsyä tähän sivuun."}}}
