{:t
 {:about {:text [[:div.document
                  [:h2 "REMS-demo"]
                  [:p "Tämä on demo-ympäristö, joka on tarkoitettu REMS-ohjelmiston kokeilemiseen. Demo-ympäristöön on luotu valmiiksi joitain kuvitteellisia tietoaineistoja, joihin voit hakea käyttöoikeutta. Kullekin tietoaineistolle on luotu hakulomake, jonka hakija täyttää ja lähettää, sekä työnkulku, joka määrittelee, minkälaisen käsittelypolun lähetetty lomake kulkee."]
                  [:p "Demo-ympäristöön voi kirjautua eri rooleissa alla olevilla käyttäjätunnuksilla ja salasanoilla. REMS-demo ei kontrolloi minkään todellisen tietoaineiston käyttöoikeuksia. Demo-ympäristöstä ei myöskään lähetetä sähköposti-ilmoituksia käyttöoikeuden hakijoille, kommentoijille tai hyväksyjille."]
                  [:p [:strong "Demoympäristö saatetaan nollata ajoittain "] ", jolloin kaikki tehdyt hakemukset ja käyttöoikeudet pyyhkiytyvät. Huomioi kuitenkin, että demotunnuksilla tekemäsi hakemukset ja muutokset saattavat sitä ennen näkyä muille kokeilijoille."]
                  [:p [:a {:href "http://www.csc.fi/rems"} "Lisätietoa REMS-ohjelmistosta"] "."]
                  [:p "REMS-tuki: rems@csc.fi"]
                  [:h3 "Testitilit ja roolit"]
                  [:p "Hakan testi-IdP:ltä löytyy seuraavia testitunnuksia:"]
                  [:p [:strong "1. Käyttöluvanhakija 1"] [:br]
                   "Käyttäjätunnus: RDapplicant1" [:br]
                   "Salasana: RDapplicant1" [:br]
                   "Kuvaus: Kirjaudu tällä tunnuksella hakeaksesi tietoaineiston käyttöoikeutta."]
                  [:p [:strong "2. Käyttöluvanhakija 2"] [:br]
                   "Käyttäjätunnus: RDapplicant2" [:br]
                   "Salasana: RDapplicant2" [:br]
                   "Kuvaus: Toinen tunnus tietoaineiston käyttöoikeuden hakemiseen. RDapplicant1 voi vaikkapa kutsua tämän käyttäjän käyttölupahakemuksensa toiseksi jäseneksi, jolloin käyttöoikeuksia anotaan samalla myös hänelle."]
                  [:p [:strong "3. Katselmoija"] [:br]
                   "Käyttäjätunnus: RDreview" [:br]
                   "Salasana: RDreview" [:br]
                   "Kuvaus: Katselmoija voi kommentoida saapunutta käyttölupahakemusta mutta ei voi hyväksyä tai hylätä sitä."]
                  [:p [:strong "4. Hyväksyjä 1"] [:br]
                   "Käyttäjätunnus: RDapprover1" [:br]
                   "Salasana: RDapprover1" [:br]
                   "Kuvaus: Hyväksyjä hyväksyy tai hylkää saapuneen käyttölupahakemuksen tai palauttaa sen täydennettäväksi."]
                  [:p [:strong "5. Hyväksyjä 2"] [:br]
                   "Käyttäjätunnus: RDapprover2" [:br]
                   "Salasana: RDapprover2" [:br]
                   "Kuvaus: Demon eräillä tietoaineistoilla on useita rinnakkaisia tai vaihtoehtoisia hyväksyjiä."]
                  [:p [:strong "6. Aineiston omistaja"] [:br]
                   "Käyttäjätunnus: RDowner" [:br]
                   "Salasana: RDowner" [:br]
                   "Kuvaus: Aineiston omistaja voi lisätä uusia tietoaineistoja ja muuttaa niiden ominaisuuksia, kuten hakulomaketta, hyväksymisprosessia ja hyväksyjiä."]
                  [:p [:strong "6. Raportoija"] [:br]
                   "Käyttäjätunnus: RDdomainreporter" [:br]
                   "Salasana: RDdomainreporter" [:br]
                   "Kuvaus: Raportoija näkee kaikki hakemukset."]
                  [:h3 "Käyttöehdot"]
                  [:p "Sitoudut siihen, että et tee REMS-demossa mitään sellaista joka loukkaa lakeja tai asetuksia tai kolmannen osapuolen oikeuksia (kuten tekijänoikeuksia) tai on säädytöntä, uhkaavaa, väkivaltaista, herjaavaa, vihamielistä, häiritsevää tai muulla tavalla paheksuttavaa."]
                  [:p "Sitoudut siihen, että et syötä REMS-demoon mitään tunnistettua tai tunnistettavissa olevaa luonnollista henkilöä koskevaa tietoa."]
                  [:h3 "Rahoittaja"]
                  [:p "CSC:n REMS-tuote on saanut rahoitusta Opetus- ja kulttuuriministeriöltä ja Suomen akatemialta (apurahat 271642 ja 263164 Biomedinfraa varten, joka on Suomen ELIXIR, BBMRI ja EATRIS-tutkimusinfrastruktuurisolmujen muodostama konsortio)."]]]}
  :actions {:accept-invitation "Hyväksy kutsu"
            :accept-invitation-success [:div [:p "Liittyminen hakemukseen onnistui."] [:p "Seuraavaksi pääset katsomaan hakemuksen tietoja."]]
            :accept-invitation-already-member [:div. [:p "Olet jo jäsen."] [:p "Seuraavaksi pääset katsomaan hakemuksen tietoja."]]
            :accept-licenses "Hyväksy käyttöehdot"
            :add-licenses "Lisää käyttöehto"
            :add-member "Lisää jäsen"
            :bundling-error "Resursseja ei voi hakea samalla hakemuksella."
            :bundling-warning "Resursseja ei tavallisesti voi hakea samalla hakemuksella, koska niillä on eri lomake tai työvuo."
            :change-form-error "Resursseja ei voi hakea tällä hakemuksella. Muuta niitä tai tee uusi hakemus."
            :change-form-warning "Lomake on eri kuin se millä alkuperäinen hakemus on tehty."
            :change-workflow-error "Resursseja ei voi hakea tällä hakemuksella. Muuta niitä tai tee uusi hakemus."
            :change-workflow-warning "Työvuo on eri kuin se millä alkuperäinen hakemus on tehty."
            :change-resources "Muuta resursseja"
            :applicant "Hakija"
            :approve "Hyväksy"
            :approve-reject "Hyväksy tai hylkää"
            :cancel "Peruuta"
            :close "Poista"
            :comment "Kommentoi"
            :comment-placeholder "Kommentti"
            :created "Luotu"
            :decide "Päätä"
            :description "Kuvaus"
            :empty "Sinulla ei ole hakemuksia käsiteltäväksi."
            :errors {:invalid-token [:div [:p "Hakemukseen liittyminen epäonnistui."] [:p "Tarkista kutsukoodi " [:code "%1"]]]}
            :export-entitlements "Lataa käyttöoikeudet csv-tiedostona"
            :handled-approvals "Käsitellyt hakemukset"
            :id "Tunniste"
            :invite-member "Kutsu jäsen"
            :last-activity "Muokattu"
            :licenses-selection "Lisää seuraavat käyttöehdot"
            :load-application-states "Lataa hakemusten tilat"
            :member "Jäsen"
            :member-name "Nimi"
            :member-email "Sähköposti"
            :no-handled-yet "Et ole käsitellyt hakemuksia vielä."
            :ok "Ok"
            :open-approvals "Avoimet hakemukset"
            :reject "Hylkää"
            :remove-member "Poista jäsen"
            :request-comment "Pyydä kommenttia"
            :request-decision "Pyydä päätöstä"
            :request-selection "Lähetä pyyntö seuraaville henkilöille"
            :resource "Resurssi"
            :resources-selection "Seuraavat resurssit liitetään hakemukseen"
            :return "Palauta hakijalle"
            :show-publications "Näytä julkaisut"
            :show-throughput-times "Näytä läpimenoajat"
            :state "Tila"}
  :administration {:active "Aktiivinen"
                   :archive "Arkistoi"
                   :back "Takaisin"
                   :cancel "Peruuta"
                   :catalogue-item "Aineisto"
                   :catalogue-items "Aineistot"
                   :create-catalogue-item "Lisää aineisto"
                   :create-form "Uusi lomake"
                   :create-license "Uusi lisenssi"
                   :create-resource "Uusi resurssi"
                   :create-workflow "Uusi työvuo"
                   :created "Luotu"
                   :disable "Poista käytöstä"
                   :display-old "Näytä vanhat"
                   :edit "Muokkaa"
                   :edit-workflow "Muokkaa työvuota"
                   :enable "Ota käyttöön"
                   :end "Loppu"
                   :errors {:duplicate-resid "Resurssi on jo olemassa organisaatiossa."
                            :form-in-use "Lomake on käytössä täällä:"
                            :license-in-use "Lisenssi käytössä täällä:"
                            :resource-in-use "Resurssi on käytössä täällä:"
                            :workflow-in-use "Työvuo on käytössä täällä:"}
                   :form "Lomake"
                   :forms "Lomakkeet"
                   :license "Lisenssi"
                   :license-field "License \"%1\""
                   :licenses "Lisenssit"
                   :no-licenses "Ei lisenssejä"
                   :organization "Organisaatio"
                   :organization-placeholder "testorganization.org"
                   :preview "Esikatselu"
                   :resource "Resurssi"
                   :resources "Resurssit"
                   :rounds "Rounds"
                   :save "Tallenna"
                   :start "Alku"
                   :title "Nimi"
                   :type "Tyyppi"
                   :unarchive "Palauta arkistosta"
                   :view "Avaa"
                   :workflow "Työvuo"
                   :workflows "Työvuot"}
  :applicant-info {:applicant "Hakija"
                   :applicants "Hakijat"
                   :email "Sähköposti"
                   :invited-member "Kutsuttu jäsen"
                   :member "Jäsen"
                   :name "Nimi"
                   :username "Käyttäjätunnus"}
  :applications {:all-applications "Kaikki hakemukset"
                 :application "Hakemus"
                 :empty "Sinulla ei ole hakemuksia."
                 :events {:approved "Hyväksytty"
                          :closed "Poistettu"
                          :comment-requested "Pyydetty kommenttia"
                          :commented "Kommentoitu"
                          :created "Luotu"
                          :decided "Päätetty"
                          :decision-requested "Pyydetty päätöstä"
                          :draft-saved "Tallennettu"
                          :licenses-added "Käyttöehtoja lisätty"
                          :licenses-accepted "Käyttöehdot hyväksytty"
                          :member-added "Lisätty jäsen"
                          :member-invited "Kutsuttu jäsen"
                          :member-joined "Jäsen liittyi"
                          :member-removed "Poistettu jäsen"
                          :member-uninvited "Poistettu jäsen"
                          :rejected "Hylätty"
                          :resources-changed "Resursseja muutettu"
                          :returned "Palautettu muokattavaksi"
                          :submitted "Haettu"
                          :unknown "Tuntematon"}
                 :my-applications "Omat hakemukset"
                 :state "Tila"
                 :states {:approved "Hyväksytty"
                          :closed "Poistettu"
                          :draft "Luonnos"
                          :rejected "Hylätty"
                          :returned "Palautettu"
                          :submitted "Haettu"
                          :unknown "Tuntematon"}
                 :latest-activity "Viimeisin toimenpide %1"
                 :view "Näytä"}
  :autocomplete {:no-results "Ei tuloksia"
                 :placeholder "Valitse tai kirjoita"}
  :cart {:add "Lisää koriin"
         :apply "Hae"
         :apply-for-bundle "Hae näitä aineistoja (%1 kpl) yhdessä "
         :header "%1 aineistoa korissa"
         :remove "Poista"}
  :catalogue {:catalogue "Aineistoluettelo"
              :header "Aineistoluettelo"
              :more-info "Lisätietoja"
              :continue-existing-application "Jatka hakemusta"
              :apply-resources "Hae uusia resursseja"}
  :collapse {:show-less "Näytä vähemmän"
             :show-more "Näytä lisää"}
  :create-catalogue-item {:form-selection "Lomake"
                          :resource-selection "Resurssi"
                          :title "Nimi"
                          :title-placeholder "Nimi"
                          :workflow-selection "Työvuo"}
  :create-form {:add-form-field "Lisää kenttä"
                :add-option "Add option"
                :field-n "Kenttä %1"
                :field-title "Kentän otsikko"
                :input-prompt "Esimerkkiteksti"
                :maxlength "Maksimipituus (ei pakollinen)"
                :option-key "Tunnuskoodi"
                :option-label "Otsikko"
                :option-n "Vaihtoehto %1"
                :optional "Ei pakollinen"
                :title "Lomakkeen nimi"
                :type-attachment "Liitetiedosto"
                :type-date "Päivämäärä"
                :type-description "Kuvaus"
                :type-label "Infokenttä"
                :type-multiselect "Monivalintalista"
                :type-option "Valintalista"
                :type-text "Tekstikenttä"
                :type-texta "Tekstialue"}
  :create-license {:external-link "Linkki"
                   :inline-text "Teksti"
                   :license-attachment "Liite"
                   :license-text "Lisenssin teksti"
                   :license-type "Lisenssin tyyppi"
                   :link-to-license "Linkki lisenssiin"
                   :title "Lisenssin nimi"}
  :create-resource {:licenses-selection "Lisenssit"
                    :resid "Resurssin tunniste"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:approvers "Hyväksyjät"
                    :auto-approve-workflow "Automaattinen hyväksyntä"
                    :auto-approve-workflow-description "Hakemus hyväksytään välittömästi, keneltäkään sen kummemmin kysymättä."
                    :dynamic-workflow "Dynaaminen työvuo"
                    :dynamic-workflow-description "Hakemuksen käsittelijä päättää tapauskohtaisesti, että kenen katselmointia tai hyväksyntää hakemus tarvitsee."
                    :handlers "Käsittelijät"
                    :reviewers "Katselmoijat"
                    :round-n "Kierros %1"
                    :rounds-workflow "Kierrospohjainen työvuo"
                    :title "Työvuon nimi"}
  :email {:application-approved {:subject "Hakemuksesi on hyväksytty"
                                 :message "Hyvä %1,\nHakemuksesi %2 on hyväksytty.\nKatsele hakemusta: %3"}
          :application-rejected {:subject "Hakemuksesi on hylätty"
                                 :message "Hyvä %1,\nHakemuksesi %2 on hylätty.\nKatsele hakemusta: %3"}
          :application-closed {:subject "Hakemuksesi on suljettu"
                               :message "Hyvä %1,\nHakemuksesi %2 on suljettu.\nKatsele hakemusta: %3"}
          :application-submitted {:subject "Uusi hakemus"
                                  :message "Hyvä %1,\nKäyttäjä %2 on lähettänyt uuden hakemuksen %3.\nKatsele hakemusta: %4"}
          :comment-requested {:subject "Kommenttipyyntö"
                              :message "Hyvä %1,\nKäyttäjä %2 on pyytänyt sinulta kommenttia hakemukseen %3.\nKommentoi täällä: %4"}
          :commented {:subject "Uusi kommentti"
                      :message "Hyvä %1,\nKäyttäjä %2 on kommentoinut hakemusta %3.\nKatsele hakemusta: %4"}
          :decided {:subject "Uusi päätös"
                    :message "Hyvä %1,\nKäyttäjä %2 on tehnyt päätöksen hakemuksesta %3.\nKatsele hakemusta: %4"}
          :decision-requested {:subject "Päätöspyyntö"
                               :message "Hyvä %1,\nKäyttäjä %2 on pyytänyt sinulta päätöstä hakemukseen %3.\nKatsele hakemusta: %4"}
          :footer "\nTämä on automaattinen viesti. Älä vastaa tähän."
          :member-added {:subject "Sinut on lisätty hakemukseen"
                         :message "Hyvä %1,\nSinut on lisätty jäseneksi hakemukseen %2.\nKatsele hakemusta: %3"}
          :member-invited {:subject "Kutsu osallistumaan hakemukseen"
                           :message "Hei,\nTämä sähköpostiosoite (%1) on kutsuttu osallistumaan hakemukseen.\nOsallistumislinkki: %2"}}
  :footer "CSC - IT Center for Science"
  :form {:accepted-licenses "Hyväksynyt käyttöehdot"
         :actions "Toiminnot"
         :add-comments-not-shown-to-applicant "Lisää kommentti (ei näy hakijalle)"
         :add-comments-shown-to-applicant "Lisää kommentti (näkyy hakijalle)"
         :alert-disabled-resources "Seuraavia resursseja ei voi enää hakea."
         :application "Tiedot"
         :attachment-remove "Poista"
         :comment "Kommentti"
         :current-value "Nykyinen"
         :date "Aika"
         :diff-hide "Piilota muutokset"
         :diff-show "Näytä muutokset"
         :event "Tapahtuma"
         :events "Tapahtumat"
         :failed "Epäonnistui"
         :has-accepted-licenses "Olet hyväksynyt käyttöehdot."
         :licenses "Käyttöehdot"
         :maxlength "(enintään %1 merkkiä)"
         :must-accept-licenses "Saadakseen oikeudet haettuihin resursseihin, jokaisen hakijan pitää hyväksyä seuraavat käyttöehdot."
         :optional "(ei pakollinen)"
         :previous-value "Edellinen"
         :resources "Resurssit"
         :save "Tallenna luonnos"
         :submit "Lähetä hakemus"
         :success "Onnistui"
         :upload "Lisää liitetiedosto"
         :user "Käyttäjä"
         :validation {:errors "Lähetys epäonnistui. Tarkista seuraavat kentät."
                      :invalid-user "Käyttäjä ei kelpaa."
                      :required "Kenttä \"%1\" on pakollinen."
                      :toolong "Kentän \"%1\" vastaus on liian pitkä."}}
  :header {:title "Tervetuloa REMSiin"}
  :item-lists {:move-down "Siirrä alaspäin"
               :move-up "Siirrä ylöspäin"
               :remove "Poista"}
  :ldap {:failed "Kirjautuminen epäonnistui"
         :login "Kirjaudu"
         :password "Salasana"
         :title "LDAP-kirjautuminen"
         :username "Käyttäjänimi"}
  :login {:alternative "Muut kirjautumisvaihtoehdot"
          :text "Kirjaudu sisään Haka-tunnuksillasi"
          :title "Kirjaudu sisään"}
  :missing "Käännös puuttuu %1"
  :navigation {:about "Info"
               :actions "Toiminnot"
               :administration "Ylläpito"
               :applications "Hakemukset"
               :catalogue "Aineistoluettelo"
               :home "Etusivu"
               :logout "Kirjaudu ulos"}
  :not-found-page {:not-found "Sivua ei löytynyt"
                   :page-was-not-found "Tätä sivua ei löytynyt."}
  :phases {:apply "Hae"
           :approve "Hyväksyntä"
           :approved "Hyväksytty"
           :rejected "Hylätty"}
  :unauthorized-page {:unauthorized "Ei käyttöoikeuksia"
                      :you-are-unauthorized "Sinulla ei ole käyttöoikeuksia tähän sivuun."}
  :forbidden-page {:forbidden "Kielletty"
                   :you-are-forbidden "Sinulla ei ole pääsyä tähän sivuun."}}}
