{:t
 {:missing "Käännös puuttuu"
  :footer "CSC - IT Center for Science"
  :navigation {:login "Kirjaudu sisään"
               :logout "Kirjaudu ulos"
               :about "Info"
               :home "Etusivu"
               :catalogue "Kielivarat"
               :applications "Hakemukset"
               :approvals "Hyväksynnät"
               :reviews "Katselmoinnit"}
  :login {:title "Kirjaudu sisään"
          :text "Kirjaudu sisään Haka-tunnuksillasi"}
  :about {:text [:div.document
                 [:h2 "REMS-demo"]
                 [:p "Tämä on demo-ympäristö, joka on tarkoitettu REMS-ohjelmiston kokeilemiseen. Demo-ympäristöön on luotu valmiiksi joitain kuvitteellisia tietoaineistoja, joihin voit hakea käyttöoikeutta. Kullekin tietoaineistolle on luotu hakulomake, jonka hakija täyttää ja lähettää, sekä työnkulku, joka määrittelee, minkälaisen käsittelypolun lähetetty lomake kulkee."]
                 [:p "Demo-ympäristöön voi kirjautua eri rooleissa alla olevilla käyttäjätunnuksilla ja salasanoilla. REMS-demo ei kontrolloi minkään todellisen tietoaineiston käyttöoikeuksia. Demo-ympäristöstä ei myöskään lähetetä sähköposti-ilmoituksia käyttöoikeuden hakijoille, kommentoijille tai hyväksyjille."]
                 [:p [:strong "Demoympäristö saatetaan nollata ajoittain "] ", jolloin kaikki tehdyt hakemukset ja käyttöoikeudet pyyhkiytyvät. Huomioi kuitenkin, että demotunnuksilla tekemäsi hakemukset ja muutokset saattavat sitä ennen näkyä muille kokeilijoille."]
                 [:p [:a {:href "http://www.csc.fi/rems"} "Lisätietoa REMS-ohjelmistosta"] "."]
                 [:p "REMS-tuki: rems@csc.fi"]

                 [:h3 "Testitilit ja roolit"]
                 [:p "Hakan testi-IdP:ltä löytyy seuraavia testitunnuksia:"]
                 [:p [:strong "1. REMS Demo käyttöluvanhakija 1"] [:br]
                  "Käyttäjätunnus: RDapplicant1" [:br]
                  "Salasana: RDapplicant1" [:br]
                  "Kuvaus: Kirjaudu tällä tunnuksella hakeaksesi tietoaineiston käyttöoikeutta."]
                 [:p [:strong "2. REMS Demo käyttöluvanhakija 2"] [:br]
                  "Käyttäjätunnus: RDapplicant2" [:br]
                  "Salasana: RDapplicant2" [:br]
                  "Kuvaus: Toinen tunnus tietoaineiston käyttöoikeuden hakemiseen. RDapplicant1 voi vaikkapa kutsua tämän käyttäjän käyttölupahakemuksensa toiseksi jäseneksi, jolloin käyttöoikeuksia anotaan samalla myös hänelle."]
                 [:p [:strong "3. REMS Demo hyväksyjä 1"] [:br]
                  "Käyttäjätunnus: RDapprover1" [:br]
                  "Salasana: RDapprover1" [:br]
                  "Kuvaus: Hyväksyjä hyväksyy tai hylkää saapuneen käyttölupahakemuksen tai palauttaa sen täydennettäväksi."]
                 [:p [:strong "4. REMS Demo hyväksyjä 2"] [:br]
                  "Käyttäjätunnus: RDapprover2" [:br]
                  "Salasana: RDapprover2" [:br]
                  "Kuvaus: Demon eräillä tietoaineistoilla on useita rinnakkaisia tai vaihtoehtoisia hyväksyjiä."]
                 [:h3 "Aineistot"]
                 [:p [:strong "ELFA-korpus, suora hyväksyntä"] [:br]
                  "Kuvaus: Tässä aineistossa on minimi työkulku. Käyttäjä sitoutuu lisenssin ehtoihin ja saa käyttöluvan."]
                 [:p [:strong "ELFA-korpus, yksi hyväksyntä"] [:br]
                  "Kuvaus: Tässä aineistossa on yksinkertainen työkulku. Hakemus lähetetään yhdelle henkilölle (RDapprover1) hyväksyttäväksi."]
                 [:p [:strong "ELFA-korpus, kaksi hyväksyntäkierrosta eri hyväksyjillä"] [:br]
                  "Kuvaus: Tässä aineistossa on kaksivaiheinen hyväksyntä. Hakemuksen hyväksyy ensin käyttäjä RDapprover1 ja sitten käyttäjä RDapprover2."]
                 [:h3 "Käyttöehdot"]
                 [:p "Sitoudut siihen, että et tee REMS-demossa mitään sellaista joka loukkaa lakeja tai asetuksia tai kolmannen osapuolen oikeuksia (kuten tekijänoikeuksia) tai on säädytöntä, uhkaavaa, väkivaltaista, herjaavaa, vihamielistä, häiritsevää tai muulla tavalla paheksuttavaa."]
                 [:p "Sitoudut siihen, että et syötä REMS-demoon mitään tunnistettua tai tunnistettavissa olevaa luonnollista henkilöä koskevaa tietoa."]
                 [:h3 "Rahoittaja"]
                 [:p "CSC:n REMS-tuote on saanut rahoitusta Opetus- ja kulttuuriministeriöltä ja Suomen akatemialta (apurahat 271642 ja 263164 Biomedinfraa varten, joka on Suomen ELIXIR, BBMRI ja EATRIS-tutkimusinfrastruktuurisolmujen muodostama konsortio)."]
                 ]}
  :cart {:header "%1 kielivaraa korissa"
         :add "Lisää koriin"
         :remove "Poista"
         :apply "Hae"
         :checkout "Lähetä"}
  :catalogue {:header "Kielivarat"}
  :form {:save "Tallenna luonnos"
         :optional "(ei pakollinen)"
         :licenses "Lisenssiehdot"
         :comment "Kommentti"
         :add-comments "Lisää päätökseen kommentti (näkyy hakijalle)"
         :add-comments-applicant "Lisää päätökseen kommentti"
         :saved "Luonnos tallennettu."
         :submit "Lähetä hakemus"
         :submitted "Hakemus lähetetty."
         :back "Takaisin kielivaroihin"
         :back-approvals "Takaisin hyväksyntiin"
         :date "Aika"
         :event "Tapahtuma"
         :events "Hakemuksen tapahtumat"
         :user "Käyttäjä"
         :validation {:required "Kenttä \"%1\" on pakollinen."}}
  :phases {:apply "Hae"
           :approve "Hyväksyntä"
           :review "Katselmointi"
           :approved "Hyväksytty"
           :rejected "Hylätty"}
  :applications {:application "Hakemus"
                 :resource "Kielivara"
                 :user "Käyttäjä"
                 :state "Tila"
                 :view "Näytä"
                 :created "Luotu"
                 :states {:draft "Luonnos"
                          :applied "Haettu"
                          :approved "Hyväksytty"
                          :rejected "Hylätty"
                          :returned "Palautettu"
                          :withdrawn "Vedetty takaisin"
                          :closed "Suljettu"
                          :unknown "Tuntematon"}
                 :empty "Sinulla ei ole hakemuksia."}
  :approvals {:application "Hakemus"
              :resource "Kielivara"
              :applicant "Hakija"
              :state "Tila"
              :view "Näytä"
              :created "Luotu"
              :handled "Käsitelty"
              :handled-approvals "Käsitellyt hakemukset"
              :open-approvals "Avoimet hakemukset"
              :approve "Hyväksy"
              :reject "Hylkää"
              :return "Palauta hakijalle"
              :close "Sulje"
              :cancel "Peruuta"
              :withdraw "Vedä takaisin"
              :approve-success "Hakemus hyväksytty"
              :reject-success "Hakemus hylätty"
              :return-success "Hakemus palautettu"
              :close-success "Hakemus suljettu"
              :withdraw-success "Hakemus vedetty takaisin"
              :empty "Sinulla ei ole hakemuksia käsiteltäväksi."
              :export-pdf "Lataa PDF"
              :load-application-states "Lataa hakemusten tilat"
              :view-rights "Näytä käyttöoikeudet"
              :show-publications "Näytä julkaisut"
              :show-throughput-times "Näytä läpimenoajat"
              :not-implemented "Ei vielä toteutettu"}
  :roles {:header "Valitse rooli:"
          :names {:approver "Hyväksyjä"
                  :reviewer "Katselmoija"
                  :applicant "Hakija"}}
  :applicant-info {:applicant "Hakija"}}}
