{:t
 {:actions {:accept-invitation "Acceptera inbjudan"
            :accept-invitation-already-member "Du är redan medlem."
            :accept-invitation-success "Hakemukseen liittyminen onnistui." ;; TODO
            :accept-licenses "Acceptera licenserna"
            :add-licenses "Lägg till en licens"
            :add-member "Lägg till en medlem"
            :approve "Godkänn"
            :approve-reject "Godkänn eller avslå"
            :assign-external-id "Aseta tunniste" ;; TODO
            :assign-external-id-info "Tunniste" ;; TODO
            :bundling-intro [:div.intro [:p "Huomaa, että vain resursseja, joilla on sama hakemuslomake ja työvuo, voidaan liittää yhteen."]] ;; TODO
            :cancel "Avbryta"
            :change-resources "Ändra resurser"
            :close "Stäng ansökan"
            :close-intro [:div.intro [:p "Huomaa, että jos hakemus suljetaan, sitä ei voida avata uudelleen."]] ;; TODO
            :comment "Komment"
            :decide "Besluta"
            :errors {:disabled-catalogue-item "Resurssit eivät ole enää saatavilla." ;; TODO
                     :invalid-token [:div [:p "Hakemukseen liittyminen epäonnistui."] [:p "Tarkista kutsukoodi " [:code "%1"]]] ;; TODO
                     :licenses-not-accepted "Käyttöehtoja ei ole hyväksytty." ;; TODO
                     :submission-failed "Lähettäminen epäonnistui. Tarkasta seuraavat virheet:"} ;; TODO
            :export-entitlements "Lataa käyttöoikeudet CSV-tiedostona" ;; TODO
            :handled-applications "Handlagda ansökningar"
            :invite-member "Inbjuda medlem"
            :licenses-selection "Lägg till licenser"
            :load-application-states "Lataa hakemusten tilat" ;; TODO
            :member "Medlem"
            :member-email "E-postaddress"
            :member-name "Namn"
            :name-and-email-required "Namn och e-postadress är obligatoriska"
            :reject "Avslå"
            :remark "Anmärka"
            :remark-public "Visa avmärkning till sökande"
            :remove-member "Ta bort medlem"
            :request-decision "Begär beslut"
            :request-review "Begär granskning"
            :request-selection "Skicka begäran"
            :resources-selection "Resurser att lägga till i ansökan:"
            :return "Returnera till ansökan"
            :review "Granska"
            :revoke "Återkalla rättigheter"
            :show-publications "Visa publikationer"
            :show-throughput-times "Visa handlagningstider"
            :todo-applications "Aktiva ansökningar"}
  :administration {:active "Aktiv"
                   :add "Lägg till"
                   :added-at "Läggat till"
                   :added-by "Läggat till av"
                   :archive "Arkivera"
                   :back "Tillbaka"
                   :blacklist "Kieltolista" ;; TODO
                   :change-form "Ändra blankett"
                   :cancel "Avbryta"
                   :catalogue-item "Katalogartikel"
                   :catalogue-items "Katalogartiklar"
                   :change "Ändra"
                   :comment "Komment"
                   :copy-as-new "Kopiera som nytt"
                   :create-catalogue-item "Ny katalogartikel"
                   :create-form "Ny blankett"
                   :create-license "Ny licens"
                   :create-resource "Ny resurs"
                   :create-workflow "Nytt arbetsflöde"
                   :created "Skapad"
                   :disable "Poista käytöstä" ;; TODO
                   :disabled-and-archived-explanation "Käytöstä poistaminen piilottaa kielivaran käyttäjiltä. Arkistoiminen piilottaa sen myös ylläpitonäkymästä." ;; TODO
                   :display-archived "Visa akriverade"
                   :edit "Förändra" ;; TODO?
                   :edit-catalogue-item "Förändra katalogartikel"
                   :edit-form "Förändra blankett"
                   :edit-workflow "Föranda arbetsflöde"
                   :enable "Ota käyttöön" ;; TODO
                   :end "Slut"
                   :errors {:duplicate-resid "Resurssi on jo olemassa organisaatiossa." ;; TODO
                            :forbidden-organization "Organisaatio on kielletty tältä käyttäjältä."
                            :form-archived "Lomake on arkistoitu:"
                            :form-in-use "Lomake on käytössä:"
                            :license-archived "Lisenssi on arkistoitu:"
                            :license-in-use "Lisenssi on käytössä:"
                            :resource-archived "Resurssi on arkistoitu:"
                            :resource-in-use "Resurssi on käytössä:"
                            :workflow-archived "Työvuo on arkistoitu:"
                            :workflow-in-use "Työvuo on käytössä:"}
                   :export-applications "Vie hakemuksia" ;; TODO
                   :form "Blankett"
                   :forms "Blanketter"
                   :license "Licens"
                   :license-field "Licens \"%1\""
                   :license-name "Licensens namn"
                   :licenses "Licenser"
                   :no-licenses "Inga licenser"
                   :organization "Organisation"
                   :organization-placeholder "testorganisation.org"
                   :preview "Förhandsvisning"
                   :remove "Radera"
                   :reports "Rapporter"
                   :resource "Resurs"
                   :resources "Resurser"
                   :save "Spara"
                   :select-organization "Välj organisation"
                   :start "Början"
                   :title "Namn"
                   :type "Typ"
                   :unarchive "Oarkivera"
                   :user "Användare"
                   :userid "Användarnamn"
                   :view "Visa"
                   :workflow "Arbetsflöde"
                   :workflows "Arbetsflöden"}
  :applicant-info {:applicant "Sökande"
                   :applicants "Sökande"
                   :email "E-postaddress"
                   :invited-member "Inbjuden medlem"
                   :member "Medlem"
                   :name "Namn"
                   :organization "Organisation"
                   :username "Användarnamn"}
  :applications {:all-applications "Alla ansökaningar"
                 :applicant "Sökande"
                 :application "Ansökan"
                 :applications "Ansökningar"
                 :copied-from "Kopierat av ansökan"
                 :copied-to "Kopierat till ansökan"
                 :created "Skapad"
                 :description "Rubrik"
                 :empty "Inga ansökningar."
                 :events {:approved "%1 godkände ansökan."
                          :closed "%1 stängde ansökan."
                          :copied-from "%1 kopierade ansökan av en tidigare ansökan."
                          :copied-to "%1 kopierade ansökan som ny ansökan."
                          :created "%1 skapade ny ansökan."
                          :decided "%1 beslutade ansökan."
                          :decision-requested "%1 begärde beslut från användare %2."
                          :draft-saved "%1 tallensi hakemuksen luonnoksen."
                          :external-id-assigned "%1 lisäsi tunnisteen %2." ;; TODO
                          :licenses-accepted "%1 accepterade licenserna."
                          :licenses-added "%1 lade till licenser."
                          :member-added "%1 lad till användare %2 som medlem."
                          :member-invited "%1 inbjöd användare %2 som medlem."
                          :member-joined "Användare %1 blev medlem."
                          :member-removed "%1 tog bort medlem %2."
                          :member-uninvited "%1 tog bort medlem %2."
                          :rejected "%1 avslog ansökan."
                          :remarked "%1 kirjasi huomion."
                          :resources-changed "%1 ändrade sökande resurser. Nya resurser: %2."
                          :returned "%1 returnerade ansökan för redigering."
                          :review-requested "%1 begärde granskning från användare %2."
                          :reviewed "%1 granskade ansökan."
                          :revoked "%1 återkallade rättigheter."
                          :submitted "%1 skickade ansökan."
                          :unknown "Okänd"}
                 :export {:applicant "Sökande"
                          :external-id "Ulkoinen tunniste" ;; TODO
                          :first-submitted "Skickade"
                          :id "Tunniste" ;; TODO
                          :resources "Resurser"
                          :state "Tillstånd"}
                 :handlers "Handläggare"
                 :id "Tunniste" ;; TODO
                 :intro [:div.intro [:p "Täytä hakemus ja lähetä se käsiteltäväksi. Hakemukseen voi kutsua jäseniksi useampia hakijoita, joista jokaisen on hyväksyttävä käyttöehdot viimeistään kun hakemus on hyväksytty."]] ;; TODO
                 :last-activity "Förandrat"
                 :latest-activity "Sista funktion"
                 :my-applications "Egna ansökan"
                 :resource "Resurs"
                 :state "Tillstånd"
                 :states {:approved "Godkänt"
                          :closed "Stängd"
                          :draft "Utkast"
                          :rejected "Avslog"
                          :returned "Returnerad"
                          :revoked "Återkallad"
                          :submitted "Skickad"
                          :unknown "Okänd"}
                 :submitted "Skickad"
                 :todo "Toimia tarvitaan" ;; TODO
                 :todos {:new-application "Ny ansökan"
                         :no-pending-requests "Kaikkiin pyyntöihin on vastattu" ;; TODO
                         :resubmitted-application "Återskickade ansökan"
                         :unknown "Okänd"
                         :waiting-for-decision "Väntar på beslut"
                         :waiting-for-review "Väntar på granskning"
                         :waiting-for-your-decision "Väntar på din beslut"
                         :waiting-for-your-review "Väntar på din granskning"}
                 :view "Visa"
                 :view-application-with-description "Visa ansökan %1: %2"
                 :view-application-without-description "Visa ansökan %1 för resurser: %2"}
  :cart {:add "Lägg i varukorgen"
         :apply "Ansök"
         :apply-for-bundle "Ansök %1 resurser tilsammans"
         :header "%1 katalogartiklar i varukorgen"
         :intro [:div.intro [:p "Hae käyttöoikeuksia lisäämällä resursseja koriin. Samaa hakemusta käyttävät resurssit yhdistyvät korissa yhdeksi hakemukseksi."]] ;; TODO
         :remove "Ta bort"}
  :catalogue {:catalogue "Katalog"
              :header "Katalog"
              :intro [:p "Allaolevien resurssien käyttöoikeudet ovat haettavissa."] ;; TODO
              :more-info "Läs mer"
              :continue-existing-application "Fortsätt ansökan"
              :continue-existing-application-intro [:div.intro [:p "Keskeneräiset hakemukset:"]] ;; TODO
              :apply-resources "Ansöka resurser"}
  :collapse {:hide "Dölja"
             :show "Visa"
             :show-less "Visa mindre"
             :show-more "Visa mer"}
  :change-form {:change-form-intro "Olet muuttamassa seuraavien aineistojen lomaketta. Muutokset tehdään yksi kerrallaan siten, että vanha aineisto poistetaan käytöstä ja uusi kopio käyttää valitsemaasi lomaketta." ;; TODO
                :form-selection "Blankett"}
  :create-catalogue-item {:form-selection "Blankett"
                          :infourl "Lisätietoja-URL (vapaaehtoinen, puuttuessa käytetään resurssin URN:ää)" ;; TODO
                          :resource-selection "Resurs"
                          :title "Namn"
                          :title-placeholder "Namn"
                          :workflow-selection "Arbetsflöde"}
  :create-form {:add-form-field "Ny fält"
                :add-option "Ny alternativ"
                :field-n "Fält %1: %2"
                :field-title "Titel av fält"
                :field-type "Typ af fält"
                :maxlength "Enimmäispituus merkkeinä (ei pakollinen)" ;; TODO
                :option-key "Tunniste" ;; TODO
                :option-label "Titel"
                :option-n "Alternativ %1"
                :optional "Frivillig fält"
                :placeholder "Exempel (frivillig)"
                :privacy {:private "Yksityinen" ;; TODO
                          :public "Julkinen"} ;; TODO
                :title "Namn av blankett"
                :type-attachment "Liitetiedosto" ;; TODO
                :type-date "Datum"
                :type-description "Rubrik av ansökan"
                :type-email "E-postaddress"
                :type-header "Titel"
                :type-label "Lisätietokenttä" ;; TODO
                :type-multiselect "Monivalintalista" ;; TODO
                :type-option "Valintalista" ;; TODO
                :type-privacy "Julkisuus" ;; TODO
                :type-text "Tekstikenttä" ;; TODO
                :type-texta "Tekstialue" ;; TODO
                :type-visibility "Synlighet"
                :visibility {:always "Alltid"
                             :field "Fält"
                             :has-value "Har värde" ;; TODO?
                             :hidden "Döljad"
                             :only-if "Om"}}
  :create-license {:external-link "Länk"
                   :inline-text "Text"
                   :license-attachment "Liite" ;; TODO
                   :license-text "Text av licens"
                   :license-type "Typ av licens"
                   :link-to-license "Link till licens"
                   :title "Namn av licens"}
  :create-resource {:licenses-selection "Licenser"
                    :resid "Resurs-id"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:decider-workflow "Päättäjätyövuo" ;; TODO
                    :decider-workflow-description "Käsittelijällä ei ole valtuutta hyväksyä tai hylätä hakemusta, vaan vain erillisellä hyväksyjällä on. Hakemusta ei voi sulkea." ;; TODO
                    :default-workflow "Oletustyövuo" ;; TODO
                    :default-workflow-description "Hakemus on täysin käsittelijän hallinnassa. Käsittelijä voi pyytää toisilta katselmointeja ja päätöksiä tarpeen mukaan." ;; TODO
                    :handlers "Handläggare"
                    :master-workflow "Master-työvuo" ;; TODO
                    :master-workflow-description "VAIN TESTAUKSEEN. Unioni kaikista mahdollista työvoista." ;; TODO
                    :title "Namn av arbetsflöde"}
  :dropdown {:no-results "Inga resultat"
             :placeholder "Välja..."}
  ;; TODO: emails
  :email {:application-approved {:subject-to-applicant "Hakemuksesi %3 on hyväksytty"
                                 :message-to-applicant "Hyvä %1,\n\nHakemuksesi %3 on hyväksytty.\n\nVoit tarkastella hakemusta ja päätöstä osoitteessa %6"
                                 :subject-to-handler "(%3) Hakemus on hyväksytty"
                                 :message-to-handler "Hyvä %1,\n\n%2 on hyväksynyt käyttäjän %4 hakemuksen %3.\n\nVoit tarkastella hakemusta ja päätöstä osoitteessa %6"}
          :application-rejected {:subject-to-applicant "Hakemuksesi %3 on hylätty"
                                 :message-to-applicant "Hyvä %1,\n\nHakemuksesi %3 on hylätty.\n\nVoit tarkastella hakemusta ja päätöstä osoitteessa %6"
                                 :subject-to-handler "(%3) Hakemus on hylätty"
                                 :message-to-handler "Hyvä %1,\n\n%2 on hylännyt käyttäjän %4 hakemuksen %3.\n\nVoit tarkastella hakemusta ja päätöstä osoitteessa %6"}
          :application-closed {:subject-to-applicant "Hakemuksesi %3 on suljettu"
                               :message-to-applicant "Hyvä %1,\n\nHakemuksesi %3 on suljettu.\n\nVoit tarkastella hakemusta: %6"
                               :subject-to-handler "(%3) Hakemus on suljettu"
                               :message-to-handler "Hyvä %1,\n\n%2 on sulkenut käyttäjän %4 hakemuksen %3.\n\nVoit tarkastella hakemusta: %6"}
          :application-returned {:subject-to-applicant "Hakemuksesi %3 vaatii täydentämistä"
                                 :message-to-applicant "Hyvä %1,\n\nHakemuksesi %3 on palautettu muokattavaksesi. Ole hyvä ja täydennä hakemusta kommenttien mukaan.\n\nVoit tarkastella hakemusta osoitteessa %6"
                                 :subject-to-handler "(%3) Hakemus on palautettu"
                                 :message-to-handler "Hyvä %1,\n\n%2 on palauttanut käyttäjän %4 hakemuksen %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :application-revoked {:subject-to-applicant "Hakemukseesi %3 liittyvät käyttöoikeudet on peruttu"
                                :message-to-applicant "Hyvä %1,\n\nHakemukseesi %3 liittyvät käyttöoikeudet on peruttu.\n\nVoit tarkastella hakemusta: %6"
                                :subject-to-handler "(%3) Käyttöoikeudet on peruttu"
                                :message-to-handler "Hyvä %1,\n\n%2 on perunut käyttäjän %4 hakemukseen %3 liittyvät käyttöoikeudet.\n\nVoit tarkastella hakemusta: %6"}
          :application-licenses-added {:subject "Hakemuksen %3 käyttöehdot ovat muuttuneet"
                                       :message "Hyvä %1,\n\n%2 pyytää hyväksyntääsi muuttuneille käyttöehdoille hakemukseen %3.\n\nVoit tarkastella hakemusta ja hyväksyä muuttuneet käyttöehdot osoitteessa %6"}
          :application-resubmitted {:subject "(%3) Hakemus lähetetty uudelleen"
                                    :message "Dear %1,\n\nKäyttäjä %4 on lähettänyt uudelleen hakemuksen %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :application-submitted {:subject "(%3) Uusi hakemus"
                                  :message "Hyvä %1,\n\n%4 on lähettänyt käyttöoikeushakemuksen %3 resurss(e)ille %5.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :decided {:subject "(%3) Päätös lähetetty"
                    :message "Hyvä %1,\n\n%2 on antanut päätöksen käyttäjän %4 hakemuksesta %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :decision-requested {:subject "(%3) Päätöspyyntö"
                               :message "Hyvä %1,\n\n%2 on pyytänyt sinulta päätöstä käyttäjän %4 hakemuksesta %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :footer "\n\nTämä on automaattinen viesti. Älä vastaa."
          :handler-reminder {:application "%1, lähettänyt %2"
                             :message "Hyvä %1,\n\nSeuraavat hakemukset ovat avoinna ja saattavat vaatia toimenpiteitä:\n\n%2\n\nVoit tarkastella hakemuksia osoitteessa %3"
                             :subject "Avoimet hakemukset"}
          :member-added {:subject "Lisätty hakemuksen %3 jäseneksi"
                         :message "Hyvä %1,\n\nSinut on lisätty käyttäjän %4 jättämän hakemuksen %3 jäseneksi.\n\nVoit tarkastella hakemusta ja hyväksyä käyttöehdot osoitteessa %6"}
          :member-invited {:subject "Kutsu osallistumaan hakemukseen %3"
                           :message "Hyvä %1,\n\nSinut on kutsuttu osallistumaan käyttäjän %2 jättämään käyttöoikeushakemukseen %3.\n\nVoit tarkastella hakemusta ja hyväksyä käyttöehdot osoitteessa %4"}
          :regards "\n\nYstävällisin terveisin,\n\nREMS\n"
          :remarked {:subject "(%3) Hakemusta kommentoitu"
                     :message "Hyvä %1,\n\n%2 on kommentoinut käyttäjän %4 lähettämää hakemusta %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :review-requested {:subject "(%3) Katselmointipyyntö"
                             :message "Hyvä %1,\n\n%2 on pyytänyt katselmointiasi käyttäjän %4 lähettämälle hakemukselle %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :reviewed {:subject "(%3) Hakemus katselmoitu"
                     :message "Hyvä %1,\n\n%2 on katselmoinut käyttäjän %4 lähettämän hakemuksen %3.\n\nVoit tarkastella hakemusta osoitteessa %6"}
          :reviewer-reminder {:application "%1, lähettänyt %2"
                              :message "Hyvä %1,\n\nSeuraavat hakemukset odottavat katselmointiasi:\n\n%2\n\nVoit tarkastella hakemuksia osoitteessa %3"
                              :subject "Katselmointia odottavat hakemukset"}}
  :footer "CSC – Tieteen tietotekniikan keskus" ;; TODO
  :form {:accepted-licenses "Licenserna har accepterades"
         :actions "Funktioner"
         :add-comments-not-shown-to-applicant "Kommentera (syns inte till sökande)"
         :add-comments-shown-to-applicant "Kommentera (syns till sökande)"
         :add-remark "Anmärka (syns eller döljas för sökande)"
         :alert-blacklisted-users "Nämä jäsenet ovat joittenkin haettujen resurssien kieltolistalla:" ;; TODO
         :alert-disabled-resources "Resurssit eivät ole enää saatavilla:" ;; TODO
         :application "Ansökan"
         :attachment-remove "Ta bort"
         :checkbox-checked "Ja"
         :checkbox-unchecked "Nej"
         :copy-as-new "Kopiera som nytt"
         :current-value "Nuvarande"
         :diff-hide "Dölja ändringar"
         :diff-show "Visa ändringar"
         :events "Händelser" ;; TODO?
         :failed "Misslyckades"
         :has-accepted-licenses "Har accepterad licenserna."
         :licenses "Licenser"
         :maxlength "(enintään %1 merkkiä)" ;; TODO
         :must-accept-licenses "Jokaisen hakijan on hyväksyttävä käyttöehdot käyttääkseen resursseja." ;; TODO
         :optional "(frivillig)"
         :please-wait "Vänta en stund"
         :previous-applications "Sökandes tidigare ansökningar"
         :previous-value "Föregående"
         :required "*"
         :resources "Resurser"
         :save "Spara utkast"
         :submit "Skicka ansökan"
         :success "Onnistui" ;; TODO
         :upload "Lisää liitetiedosto" ;; TODO
         :validation {:invalid-email "Sähköpostiosoite ei kelpaa." ;; TODO
                      :invalid-user "Käyttäjä ei kelpaa."
                      :invalid-value "Arvo ei kelpaa."
                      :required "Kenttä \"%1\" on pakollinen."
                      :toolong "Kentän \"%1\" sisältö on liian pitkä."}}
  :header {:title "REMS"}
  :item-lists {:move-down "Rör nedåt"
               :move-up "Rör uppåt"
               :remove "Ta bort"}
  :link {:download-file "Lataa tiedosto" ;; TODO
         :opens-in-new-window "Aukeaa uuteen ikkunaan"} ;; TODO
  :login {:alternative "Muut kirjautumisvaihtoehdot" ;; TODO
          :intro [:div [:h1 "Tervetuloa REMSiin"] [:p "Tämä on demo-ympäristö, joka on tarkoitettu REMS-ohjelmiston kokeilemiseen. Demo-ympäristöön on luotu valmiiksi joitain kuvitteellisia tietoaineistoja, joihin voit hakea käyttöoikeutta. Lisätietoja " [:a {:href "/extra-pages/about"} "Info-sivulla"] "."]
                  [:p "Ole hyvä ja kirjaudu sisään."]] ;; TODO
          :oidc-text "Logga in via OpenID Connect"
          :text "Logga in via Haka"
          :title "Logga in"}
  :missing "Översättning hittades inte: %1"
  :navigation {:actions "Funktioner"
               :administration "Administration"
               :applications "Ansökningar"
               :catalogue "Katalog"
               :change-language "Byta språk till %1"
               :home "Ingångssida"
               :logout "Logga ut"
               :settings "Inställningar"
               :skip-navigation "Siirry sivun pääsisältöön"} ;; TODO
  :not-found-page {:not-found "Sidan hittades inte"
                   :page-was-not-found "Denna sidan hittades inte."}
  :phases {:apply "Skicka in"
           :approve "Godkänn"
           :approved "Godkännt"
           :phase-active "Fas aktiv:"
           :phase-closed "Fas stängd:"
           :phase-completed "Fas färdig:"
           :phase-pending "Kommande fas:"
           :phase-rejected "Fas avsalgit:"
           :phase-revoked "Fas återkallat:"
           :rejected "Avslagit"
           :revoked "Återkallat"}
  :search {:clear-search "Tömma söktermer"
           :example-searches "Exempel på sök"
           :learn-more "Läs mer"
           :search "Söka"} ;;
  :settings {:idp-email "Sähköpostiosoite tunnistautumispalvelulta" ;; TODO
             :no-email "(ingen e-postaddress)"
             :notification-email "Käytä toista sähköpostiosoitetta ilmoituksille" ;; TODO
             :save "Spara"
             :warning-about-missing-email [:<> "Sinun on " [:a {:href "/settings"} "lisättävä sähköpostiosoite asetuksiisi"] ", jotta voisit vastaanottaa ilmoituksia hakemuksistasi."]} ;; TODO
  :table {:ascending-order "Nouseva järjestys" ;; TODO
          :descending-order "Laskeva järjestys" ;; TODO
          :all-rows-selected "Kaikki rivit valittuna" ;; TODO
          :no-rows-selected "Ei yhtään riviä valittuna" ;; TODO
          :some-rows-selected "Joitain rivejä valittuna" ;; TODO
          :show-all-n-rows "Visa alla %1 rader"}
  :unauthorized-page {:unauthorized "Ei käyttöoikeutta" ;; TODO
                      :you-are-unauthorized "Sinulla ei ole tämän sivun käyttöoikeutta."} ;; TODO
  :forbidden-page {:forbidden "Kielletty" ;; TODO
                   :you-are-forbidden "Sivun käyttö on kielletty."}}} ;; TODO
