{:t
 {:actions {:accept-invitation "Acceptera inbjudan"
            :accept-invitation-already-member "Du är redan medlem."
            :accept-invitation-success "Du har gått med i ansökan."
            :accept-licenses "Acceptera licenserna"
            :add-licenses "Lägg till en licens"
            :add-member "Lägg till medlem"
            :approve "Godkänn"
            :approve-reject "Godkänn eller avslå"
            :bundling-intro [:div.intro [:p "Notera, att endast resurser som har samma ansökningsblankett och samma arbetsflöde kan kopplas samman."]]
            :cancel "Avbryt"
            :change-resources "Ändra resurser"
            :close "Stäng ansökan"
            :close-intro [:div.intro [:p "Notera, om ansökan är stängd kan den inte längre ändras eller skickas."]]
            :comment "Kommentar"
            :decide "Avgör"
            :errors {:already-member "Användare är redan medlem."
                     :disabled-catalogue-item "Resurserna är inte längre tillgängliga."
                     :invalid-token [:div [:p "Det gick inte att ansluta till ansökningen."] [:p "Vänligen kontrollera koden för inbjudan." [:code "%1"]]]
                     :licenses-not-accepted "Du har into godkänt användarvillkoren."
                     :submission-failed "Inlämningen misslyckades. Var vänlig kontrollera följande:"}
            :export-entitlements "Ladda ner rättigheterna som csv-fil"
            :handled-applications "Behandlade ansökningar"
            :invite-member "Bjud in medlem"
            :licenses-selection "Lägg till licenser"
            :load-application-states "Ladda status för ansökningarna"
            :member "Medlem"
            :member-email "E-postaddress"
            :member-name "Namn"
            :name-and-email-required "Namn och e-postadress är obligatoriska"
            :reject "Avslå"
            :remark "Gör anteckning"
            :remark-public "Visa anteckning för sökande"
            :remove-member "Ta bort medlem"
            :request-decision "Begär beslut"
            :request-review "Begär granskning"
            :request-selection "Skicka begäran"
            :resources-selection "Välj resurser som ansökningen gäller:"
            :return "Sänd tillbaka till sökande"
            :review "Granska"
            :revoke "Återkalla rättigheter"
            :show-publications "Visa publikationer" ; VAI Visa publiceringar?
            :show-throughput-times "Visa behandlingsstider"
            :todo-applications "Aktiva ansökningar"}
  :administration {:active "Aktiv"
                   :add "Lägg till"
                   :added-at "Tillagd"
                   :added-by "Tillagd av"
                   :archive "Arkivera"
                   :back "Tillbaka"
                   :blacklist "Blacklist"
                   :change-form "Ändra blankett"
                   :cancel "Avbryt"
                   :catalogue-item "Katalogpost"
                   :catalogue-items "Katalogposter"
                   :change "Ändra"
                   :comment "Kommentera"
                   :copy-as-new "Kopiera som ny"
                   :create-catalogue-item "Ny katalogpost"
                   :create-form "Ny blankett"
                   :create-license "Ny licens"
                   :create-resource "Ny resurs"
                   :create-workflow "Nytt arbetsflöde"
                   :created "Skapad"
                   :disable "Avaktivera"
                   :disabled-and-archived-explanation "Avaktiveringen döljer föremål för användarna. Arkiveringen döljer den också från administrationsvyn."
                   :display-archived "Visa arkiverade"
                   :edit "Ändra"
                   :edit-catalogue-item "Ändra katalogpost"
                   :edit-form "Ändra blankett"
                   :edit-workflow "Ändra arbetsflöde"
                   :enable "Ta i bruk"
                   :end "Slut"
                   :errors {:dependencies-archived "Arkiverad beroenden:"
                            :in-use-by "Den är aktiv i:"}
                   :export-applications "exportera ansökningar"
                   :form "Blankett"
                   :forms "Blanketter"
                   :has-errors "Fel"
                   :license "Licens"
                   :license-field "Licens \"%1\""
                   :license-name "Licensens namn"
                   :licenses "Licenser"
                   :no-licenses "Inga licenser"
                   :organization "Organisation"
                   :preview "Förhandsvisning"
                   :remove "Radera"
                   :reports "Rapporter"
                   :resource "Resurs"
                   :resources "Resurser"
                   :save "Spara"
                   :start "Början"
                   :title "Namn"
                   :type "Typ"
                   :unarchive "Avarkivera"
                   :user "Användare"
                   :userid "Användarnamn"
                   :view "Visa"
                   :workflow "Arbetsflöde"
                   :workflows "Arbetsflöden"}
  :applicant-info {:applicant "Sökande"
                   :applicants "Sökande"
                   :email "E-postaddress (från autentisering)"
                   :invited-member "Inbjuden medlem"
                   :member "Medlem"
                   :name "Namn"
                   :notification-email "E-postaddress (sökande)"
                   :organization "Organisation"
                   :username "Användarnamn"}
  :applications {:all-applications "Alla ansökningar"
                 :applicant "Sökande"
                 :application "Ansökning"
                 :applications "Ansökningar"
                 :copied-from "Kopierat från ansökning"
                 :copied-to "Kopierat till ansökning"
                 :created "Skapad"
                 :description "Rubrik"
                 :empty "Inga ansökningar."
                 :events {:approved "%1 godkände ansökning."
                          :closed "%1 stängde ansökning."
                          :copied-from "%1 kopierade ansökning från en tidigare ansökning."
                          :copied-to "%1 kopierade ansökning som ny ansökning."
                          :created "%1 skapade ny ansökning."
                          :decided "%1 behandlade ansökning."
                          :decision-requested "%1 begärde beslut från användare %2."
                          :draft-saved "%1 sparade utkast för ansökning."
                          :external-id-assigned "%1 lade till externt id %2."
                          :licenses-accepted "%1 accepterade licenserna."
                          :licenses-added "%1 lade till licenser."
                          :member-added "%1 lade till %2 som medlem."
                          :member-invited "%1 inbjöd %2 som medlem."
                          :member-joined "%1 blev medlem."
                          :member-removed "%1 tog bort medlem %2."
                          :member-uninvited "%1 tog bort medlem %2."
                          :rejected "%1 avslog ansökning."
                          :remarked "%1 gjorde en anteckning."
                          :resources-changed "%1 ändrade sökta resurser. Nya resurser: %2."
                          :returned "%1 returnerade ansökningen för redigering."
                          :review-requested "%1 begärde granskning av %2."
                          :reviewed "%1 granskade ansökningen."
                          :revoked "%1 återkallade rättigheter."
                          :submitted "%1 lämnade in ansökningen."
                          :unknown "Okänd"}
                 :export {:applicant "Sökande"
                          :external-id "Externt id"
                          :first-submitted "Inlämnad"
                          :id "id"
                          :resources "Resurser"
                          :state "Tillstånd"}
                 :handlers "Handläggare"
                 :highlight-related-events "Visa relaterade händelser."
                 :id "id"
                 :intro [:div.intro [:p "Fyll i ansökningen och skicka den för behandling. Du kan bjuda in andra som medlemmar i din ansökning. Alla medlemmar måste godkänna användarvillkoren senast när ansökningen godkänts."]]
                 :last-activity "Ändrat"
                 :latest-activity "Senaste aktivitet"
                 :my-applications "Mina ansökningar"
                 :resource "Resurs"
                 :state "Status"
                 :states {:approved "Godkänd"
                          :closed "Stängd"
                          :draft "Utkast"
                          :rejected "Avslagen"
                          :returned "Returnerad"
                          :revoked "Återkallad"
                          :submitted "Inlämnad"
                          :unknown "Okänd"}
                 :submitted "Inlämnad"
                 :todo "Kräver åtgärd"
                 :todos {:new-application "Ny ansökning"
                         :no-pending-requests "Inga öppna ärenden"
                         :resubmitted-application "Ansökning återinlämnad"
                         :unknown "Okänd"
                         :waiting-for-decision "Väntar på beslut"
                         :waiting-for-review "Väntar på granskning"
                         :waiting-for-your-decision "Väntar på ditt beslut"
                         :waiting-for-your-review "Väntar på din granskning"}
                 :view "Visa"
                 :view-application-with-description "Visa ansökning %1: %2"
                 :view-application-without-description "Visa ansökning %1 för resurser: %2"}
  :cart {:add "Lägg i korgen"
         :apply "Ansök"
         :apply-for-bundle "Ansök %1 resurser tillsammans"
         :header "%1 katalogposter i varukorgen"
         :intro [:div.intro [:p "Ansök om användningsrätt genom att lägga resurser i varukorgen. Alla resurser i korgen samlas till en ansökan."]]
         :remove "Ta bort från korgen"}
  :catalogue {:catalogue "Katalog"
              :header "Katalog"
              :intro [:p "Användningsrätt kan ansökas till resurserna nedan."]
              :more-info "Läs mer"
              :continue-existing-application "Återuppta ansökning"
              :continue-existing-application-intro [:div.intro [:p "Utkast till ansökningar:"]]
              :apply-resources "Ansök om resurser"}
  :collapse {:hide "Dölj"
             :show "Visa"
             :show-less "Visa mindre"
             :show-more "Visa mer"}
  :change-form {:change-form-intro "Du ändrar blanketten för resurserna nedan. Förändringarna görs en åt gången genom att den gamla resursen tas ur bruk och den nya kopian använder blanketten du valt."
                :form-selection "Blankett"}
  :create-catalogue-item {:form-selection "Blankett"
                          :infourl "Webbadress för tilläggsinformation (om inget anges används resursens URN)"
                          :resource-selection "Resurs"
                          :title "Namn"
                          :title-placeholder "Namn"
                          :workflow-selection "Arbetsflöde"}
  :create-form {:add-form-field "Lägg till fält"
                :add-option "Lägg till alternativ"
                :field-n "Fält %1: %2"
                :field-title "Namn på fält"
                :field-type "Typ av fält"
                :maxlength "Max antal tecken (valfri begränsning)"
                :option-key "Id"
                :option-label "Titel"
                :option-n "Alternativ %1"
                :optional "Frivilligt fält"
                :placeholder "Exempel (frivilligt)"
                :privacy {:private "Privat"
                          :public "Offentlig"}
                :title "Blankettens namn"
                :type-attachment "Bilaga"
                :type-date "Datum"
                :type-description "Ansökningens rubrik"
                :type-email "E-postaddress"
                :type-header "Titel"
                :type-label "Fält för tilläggsinformation"
                :type-multiselect "Lista med flerval"
                :type-option "Lista (enkelt val)"
                :type-privacy "Offentlighet"
                :type-text "Textfält"
                :type-texta "Textområde"
                :type-visibility "Synlighet"
                :visibility {:always "Alltid"
                             :field "Fält"
                             :has-value "Har värde"
                             :hidden "Dold"
                             :only-if "om"}}
  :create-license {:external-link "Länk"
                   :inline-text "Text"
                   :license-attachment "Bilaga"
                   :license-text "Licenstext"
                   :license-type "Typ av licens"
                   :link-to-license "Länk till licens"
                   :title "Licensens namn"}
  :create-resource {:licenses-selection "Licenser"
                    :resid "Resurs-id"
                    :resid-placeholder "urn:test:fi:some-uuid"}
  :create-workflow {:decider-workflow "Arbetsflöde för beslutsfattande"
                    :decider-workflow-description "Handläggare har inte rätt att godkänna eller förkasta ansökan. Endast godkännare kan göra detta."
                    :default-workflow "Standard arbetsflöde"
                    :default-workflow-description "Ansökan är under handläggarens kontroll. Behandlaren kan be enskilda granskare ta ställning till den och be om beslut enligt behov."
                    :handlers "Handläggare"
                    :master-workflow "Master-arbetsflöde"
                    :master-workflow-description "ENDAST FÖR TESTBRUK. Sammanslagning av alla möjliga arbetsflöden"
                    :title "Arbetsflödets namn"}
  :dropdown {:no-results "Inga resultat"
             :placeholder "Välj..."}
  :email {:application-approved {:subject-to-applicant "Din ansökning %3 är godkänd"
                                 :message-to-applicant "Bästa  %1,\n\nDIn ansökning %3 är godkänd.\n\nDu kan granska ansökningen och beslutet bakom denna länk: %6"
                                 :subject-to-handler "(%3) Ansökningen är godkänd"
                                 :message-to-handler "Bästa %1,\n\n%2 har godkänt ansökning %3 av %4.\n\nDu kan granska ansökningen och beslutet bakom denna länk: %6"}
          :application-rejected {:subject-to-applicant "Din ansökning %3 har fått avslag"
                                 :message-to-applicant "Bästa %1,\n\nDin ansökning %3 har fått avslag.\n\nDu kan granska ansökningen och beslutet bakom denna länk: %6"
                                 :subject-to-handler "(%3) Ansökningen avslagen"
                                 :message-to-handler "Bästa %1,\n\n%2 har avslagit %4s ansökning %3.\n\nDu kan granska ansökningen och beslutet bakom denna länk: %6"}
          :application-closed {:subject-to-applicant "Din ansökning %3 har stängts"
                               :message-to-applicant "Bästa %1,\n\nDin nsökning %3 har stängts.\n\nDu kan granska ansökningen bakom denna länk: %6"
                               :subject-to-handler "Ansökning (%3)har stängts"
                               :message-to-handler "Bästa %1,\n\n%2 har stängt ansökning %3 av %4.\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :application-returned {:subject-to-applicant "Din ansökning %3 kräver komplettering"
                                 :message-to-applicant "Bästa %1,\n\nDin ansökning %3 har skickats tillbaka för komplettering. Var god och komplettera den enligt anvisningarna.\n\nDu kan granska ansökningen bakom denna länk: %6"
                                 :subject-to-handler "(%3) Ansökning returnerad"
                                 :message-to-handler "Bästa %1,\n\n%2 har returnerat  ansökning %3 av %4 .\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :application-revoked {:subject-to-applicant "Rättigheterna till %3 är annullerade."
                                :message-to-applicant "Bästa %1,\n\nRättigheterna i anslutning till ansökning %3 är annullerade.\n\nDu kan granska ansökningen bakom denna länk: %6"
                                :subject-to-handler "(%3) Användarrätt annullerad"
                                :message-to-handler "Bästa %1,\n\n%2 har annullerat %4s rättigheterna som hör till ansökning %3.\n\nDu kan granska ansökan bakom denna länk: %6"}
          :application-licenses-added {:subject "Användarvillkoren för %3 har förändrats"
                                       :message "Bästa %1,\n\n%2 begär ditt godkännande för de förändrade användarvillkoren för ansökning %3.\n\nDu kan granska ansökningen och godkänna de förändrade användarvillkoren bakom denna länk: %6"}
          :application-resubmitted {:subject-to-handler "(%3) Ansökningen har lämnats in igen"
                                    :message-to-handler "Bästa %1,\n\n%4 har lämnat in ansökning %3 igen.\n\nDu kan granska ansökan bakom denna länk: %6"}
          :application-submitted {:subject-to-applicant "TODO %3"
                                  :message-to-applicant "TODO %1 %3 %6"
                                  :subject-to-handler "(%3) Ny ansökan"
                                  :message-to-handler "Bästa %1,\n\n%4 har lämnat in ansökning %3 om användningsrätt till följande resurs(er) %5.\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :decided {:subject "(%3) Beslut skickat"
                    :message "Bästa %1,\n\n%2 har gett ett beslut angående %4s ansökning %3.\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :decision-requested {:subject "(%3) Begäran om beslut"
                               :message "Bästa %1,\n\n%2 har begärt ett beslut av dig gällande %4s ansökan %3.\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :footer "\n\nDetta är ett automatiskt meddelande. Svara inte på detta meddelande."
          :handler-reminder {:application "%1, inlämnad av %2"
                             :message "Bästa %1,\n\nFöljande ansökningar är öppna och kan kräva åtgärder:\n\n%2\n\nDu kan granska ansökningar bakom denna länk: %3"
                             :subject "Öppna ansökningar"}
          :member-added {:subject "Tillagd som medlem i ansökning %3"
                         :message "Bästa %1,\n\nDu har blivit tillagd som medlem i ansökning %3 av %4.\n\nDu kan granska ansökningen och godkänna användarvillkoren bakom denna länk: %6"}
          :member-invited {:subject "Inbjudan att delta i ansökan %3"
                           :message "Bästa %1,\n\nDu är inbjuden att delta i %2s ansökning %3 om tillgång till material.\n\nDu kan granska ansökningen och godkänna användarvillkoren bakom denna länk: %4"};; < ONKO OIKEIN?
          :regards "\n\nMed vänlig hälsning,\n\nREMS\n"
          :remarked {:subject "Ansökning (%3) kommenterad"
                     :message "Bästa %1,\n\n%2 har kommenterat ansökning (%3) inlämnad av %4.\n\nDu kan se kommentar och granska ansökningen bakom denna länk: %6"}
          :review-requested {:subject "(%3) Begäran om granskning"
                             :message "Bästa %1,\n\n%2 ber dig granska %4s ansökning: %3.\n\nVDu kan granska ansökningen bakom denna länk: %6"}
          :reviewed {:subject "Ansökning %3 granskad"
                     :message "Bästa %1,\n\n%2 har granskat %4s ansökning %3.\n\nDu kan granska ansökningen bakom denna länk: %6"}
          :reviewer-reminder {:application "%1, skickad av %2"
                              :message "Bästa %1,\n\nFöljande ansökningar väntar på din granskning:\n\n%2\n\nDu kan granska nsökningar bakom denna länk:  %3"
                              :subject "Ansökningar väntar på granskning"}}
  :footer "CSC – IT-centret för forskning"
  :form {:accepted-licenses "Licenserna har accepterats"
         :actions "Funktioner"
         :add-comments-not-shown-to-applicant "Kommentar osynlig för sökande"
         :add-comments-shown-to-applicant "Kommentar synlig för sökande"
         :add-remark "Anteckning (syns eller döljs för sökande)"
         :alert-blacklisted-users "Dessa medlemmar har blockerats för någon av de ansökta resurserna"
         :alert-disabled-resources "Resurser som inte längre är tillgängliga:"
         :application "Ansökning"
         :attachment-remove "Ta bort"
         :attachments "Bilagor"
         :attachments-as-zip "Alla bilagor (zip)"
         :checkbox-checked "Ja"
         :checkbox-unchecked "Nej"
         :comment "Komment"
         :copy-as-new "Kopiera som nytt"
         :current-value "Nuvarande"
         :diff-hide "Dölja ändringar"
         :diff-show "Visa ändringar"
         :events "Händelser"
         :failed "Misslyckades"
         :has-accepted-licenses "Har accepterat licenserna."
         :invalid-attachment "Filtyp inte tillåtet."
         :licenses "Licenser"
         :maxlength "(längd högst %1 tecken)"
         :must-accept-licenses "Varje sökande måste godkänna användarvillkoren för att använda resurserna."
         :optional "(frivillig)"
         :please-wait "Vänta en stund"
         :previous-applications "Sökandes tidigare ansökningar"
         :previous-value "Föregående"
         :required "*"
         :resources "Resurser"
         :save "Spara utkast"
         :submit "Lämna in ansökningen"
         :success "Genomfört"
         :upload "Lägg till bilaga"
         :upload-extensions "Tillåtna filtyper"
         :validation {:invalid-email "Ogiltig e-postadress."
                      :invalid-user "Ogiltig användare."
                      :invalid-value "Ogiltigt värde."
                      :required " \"%1\" är ett obligatoriskt fält."
                      :toolong "För långt innehåll i fält \"%1\"."}}
  :header {:title "REMS"}
  :item-lists {:move-down "Flytta nedåt"
               :move-up "Flytta uppåt"
               :remove "Ta bort"}
  :link {:download-file "Ladda ner fil"
         :opens-in-new-window "Öppnas i nytt fönster"}
  :login {:alternative "Andra alternativ för inloggning"
          :alternative-text ""
          :fake-text ""
          :fake-title ""
          :intro [:div [:h1 "Välkommen till REMS"] [:p "Detta är en demo-version där du kan testa REMS. Här finns en del fantasiresurser, som du kan ansöka rättigheter till. Läs mer på " [:a {:href "/extra-pages/about"} "Info-sidan"] "."]]
          :intro2 ""
          :login "Logga in"
          :oidc-text ""
          :oidc-title ""
          :shibboleth-text ""
          :shibboleth-title ""
          :text [:p "Var god, logga in."]
          :title ""}
  :missing "Översättning hittades inte: %1"
  :navigation {:actions "Funktioner"
               :administration "Administration"
               :applications "Ansökningar"
               :catalogue "Katalog"
               :change-language "Byt språk till %1"
               :home "Ingångssida"
               :logout "Logga ut"
               :settings "Inställningar"
               :skip-navigation "Flytta till sidinnehåll"}
  :not-found-page {:not-found "Sidan hittades inte"
                   :page-was-not-found "Denna sida hittades inte."}
  :pdf {:generated "Detta pdf skapad"}
  :phases {:apply "Skicka in"
           :approve "Godkänn"
           :approved "Godkänt"
           :phase-active "Status aktiv:"
           :phase-closed "Status stängd:"
           :phase-completed "Status färdig:"
           :phase-pending "Nästa steg:"
           :phase-rejected "Status avslag:"
           :phase-revoked "Status återkallad:"
           :rejected "Avslag"
           :revoked "Återkallad"}
  :search {:clear-search "Töm söktermer"
           :example-searches "Exempel på sökningar"
           :learn-more "Läs mer"
           :search "Sök"} ;;
  :settings {:idp-email "E-postadress från identfieringstjänst" ; TODO check
             :no-email "(ingen e-postaddress)"
             :notification-email "Använd en annan e-postadress för att ta emot meddelanden"
             :save "Spara"
             :warning-about-missing-email [:<> "Du måste " [:a {:href "/settings"} "lägga till din e-postadress i dina inställningar"] ", för att kunna ta emot meddelanden om din ansökning."]}
  :table {:ascending-order "Stigande"
          :descending-order "Sjunkande"
          :all-rows-selected "Alla rader är valda"
          :no-rows-selected "Inga rader är valda"
          :some-rows-selected "Några rader är valda"
          :show-all-n-rows "Visa alla %1 rader"}
  :unauthorized-page {:unauthorized "Ingen användningsrätt"
                      :you-are-unauthorized "Du har inte rätt att använda denna sida."}
  :forbidden-page {:forbidden "Förbjuden"
                   :you-are-forbidden "Förbjudet."}}}
