{:color1 "#CAD2E6"
 :color2 "#7A90C3"
 :color3 "#4D5A91"
 :color4 "#F16522"
 :info-bgcolor "#cad2e6"
 :danger-bgcolor "#e28b83"
 :success-bgcolor "#cee798"
 :warning-bgcolor "#e7d96f"
 :info-color "#4d5a91"
 :danger-color "#79302f"
 :success-color "#3c763d"
 :warning-color "#6f572f"
 :logo-bgcolor "#cad2e6"
 :logo-name "logo2.png"
 :logo-name-sm "Logo-matala.png"
 :logo-content-origin "content-box"
 :phase-color "#eee"
 :phase-color-active "#cad2e6"
 :phase-color-completed "#7a90c3"
 :table-bgcolor "#7a90c3"
 :table-stripe-color "#8a9dca"
 :table-text-color "#fff"}
