{:paths ["project.clj" "src/clj" "src/cljc" "src/cljs" "test/clj" "test/cljc" "test/cljs"] ; need explicit paths to include cljs
 :extra-indents {delay [[:inner 0]]}
 :remove-consecutive-blank-lines? false} ; too many changes for now, probably not desirable
