.DS_Store
*.class
*.jar
*.log
*.retry
*~
/.env
/.idea/
/.lein-*
/.nrepl-port
/*.iml
/checkouts/
/classes/
/lib/
/log/
/pom.xml
/profiles.clj
/resources/public/css/compiled/screen.css
/target/
/node_modules