.DS_Store
*.class
*.jar
*.log
*.retry
*~
/.env
/.idea/
/.lein-*
/.nrepl-port
/*.iml
/checkouts/
/classes/
/lib/
/log/
/pom.xml
/profiles.clj
/target/
/node_modules/
/.rebel_readline_history
/browsertest-errors/
/browsertest-downloads/
/browsertest-accessibility-report/
/.calva/
/.lsp/
/.clj-kondo/
/.vscode/
/.shadow-cljs/
