{:dev true
 :nrepl-port 7000
 :database-url "postgresql://localhost/rems?user=rems"
 :test-database-url "postgresql://localhost/rems_test?user=rems_test"
 :search-index-path "target/search-index-dev"
 :theme-path "example-theme/theme.edn"
 :authentication :fake-shibboleth
 :log-authentication-details true
 ; when shibboleth is removed, we can use oidc exclusively
 ;; Open ID Connect settings
 ; These allow login to http://localhost:3000/oidc-callback only
 ;:authentication :oidc
 :oidc-domain "remsdev.eu.auth0.com"
 :oidc-client-id "65TIN1Joo6EvsHSPCN4zyCaxxPh0WJF1"
 :oidc-client-secret "e1yr9R_8WW3Xg03wm6wJ4UmNVVjiqdVhwFGvHhttyoRS3h04F4MGh0zRaV7vKm30"

 :languages [:en :fi :sv]
 :public-url "http://localhost:3000/"
 :render-css-file? true
 :extra-pages [{:id "about"
                :translations {:fi {:title "Info"
                                    :filename "about-fi.md"}
                               :en {:title "About"
                                    :filename "about-en.md"}}}]
 :extra-pages-path "./test-data/extra-pages"
 :application-deadline-days 4
 :enable-pdf-api true
 ;; list all organizations used in test-data
 :organizations ["default" "perf" "thl" "nbn" "organization1" "organization2"]}
