{:dev true
 :nrepl-port 7000
 :database-url "postgresql://localhost/rems?user=rems"
 :test-database-url "postgresql://localhost/rems_test?user=rems_test"
 :search-index-path "target/search-index-dev"
 :theme-path "example-theme/theme.edn"
 :authentication :fake-shibboleth
 ; when shibboleth is removed, we can use oidc exclusively
 ;:authentication :oidc
 :public-url "http://localhost:3000/"
 :render-css-file? true
 :extra-pages [{:id "about"
                :translations {:fi {:title "Info"
                                    :filename "about-fi.md"}
                               :en {:title "About"
                                    :filename "about-en.md"}}}]
 :extra-pages-path "./test-data/extra-pages"}
