{:dev true
 :nrepl-port 7000
 :database-url "postgresql://localhost/rems?user=rems"
 :test-database-url "postgresql://localhost/rems_test?user=rems_test"
 :search-index-path "target/search-index-dev"
 :theme-path "example-theme/theme.edn"
 :authentication :fake
 :log-authentication-details true
 ;; Open ID Connect settings
 ;; These allow login to http://localhost:3000/oidc-callback only
 ;; :authentication :oidc
 :oidc-userid-attributes [{:attribute "sub" :rename "elixirId"}
                          {:attribute "old_sub"}]
 :oidc-metadata-url "https://remsdev.eu.auth0.com/.well-known/openid-configuration"
 :oidc-client-id "65TIN1Joo6EvsHSPCN4zyCaxxPh0WJF1"
 :oidc-client-secret "e1yr9R_8WW3Xg03wm6wJ4UmNVVjiqdVhwFGvHhttyoRS3h04F4MGh0zRaV7vKm30"
 ;; some attributes that google oauth returns:
 :oidc-extra-attributes [{:attribute "nickname" :name {:en "Nickname" :fi "Lempinimi"}}
                         {:attribute "picture"}
                         {:attribute "organizations"}]
 :languages [:en :fi :sv]
 :public-url "http://localhost:3000/"
 :extra-pages [{:id "about"
                :translations {:fi {:title "Info"
                                    :filename "about-fi.md"}
                               :en {:title "About"
                                    :filename "about-en.md"}
                               :sv {:title "Info"
                                    :filename "about-sv.md"}}}
               {:id "footer"
                :filename "footer-en.md"
                :translations {:fi {:title "Footer"
                                    :filename "footer-fi.md"}
                               :en {:title "Footer"}
                               :sv {:title "Footer"
                                    :filename "footer-sv.md"}}
                :show-menu false
                :show-footer true}
               {:id "link"
                :translations {:fi {:title "Link"
                                    :filename "link-fi.md"}
                               :en {:title "Link"
                                    :filename "link-en.md"}
                               :sv {:title "Link"
                                    :filename "link-sv.md"}}
                :show-menu false
                :show-footer false}
               {:id "mixed"
                :heading false
                :translations {:fi {:title "Mixed"
                                    :filename "mixed-fi.md"}
                               :en {:url "https://example.org/en/mixed"}} ; missing sv
                :show-menu false
                :show-footer false}
               {:id "unlocalized"
                :url "https://example.org/unlocalized"
                :show-menu false
                :show-footer false}
               {:id "url"
                :roles [:logged-in]
                :url "https://example.org/"
                :translations {:fi {:title "Esimerkki"
                                    :url "https://example.org/fi"}
                               :en {:title "Example"}
                               :sv {:title "Exempel"}}
                :show-menu true
                :show-footer true}]
 :extra-pages-path "./test-data/extra-pages"
 :application-deadline-days 4
 :application-id-column :generated-and-assigned-external-id
 :enable-assign-external-id-ui true
 :attachment-max-size 10000000 ;; 10MB
 :application-expiration nil
 :enable-pdf-api true
 :enable-permissions-api true
 ;; example keys from https://tools.ietf.org/html/rfc7517#appendix-A
 :ga4gh-visa-private-key "test-data/example-private-key.jwk"
 :ga4gh-visa-public-key "test-data/example-public-key.jwk"
 :catalogue-is-public false
 :accessibility-report true
 :enable-ega true
 :enable-doi true
 :enable-duo true
 :enable-catalogue-tree true
 :enable-save-compaction true
 :enable-autosave true}
