{:dependencies [[cljs-ajax "0.8.4"]
                [clj-commons/secretary "1.2.4"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [com.rpl/specter "1.1.4"]
                [com.taoensso/tempura "1.2.1"]
                [markdown-clj "1.10.9"]
                [medley "1.3.0"]
                [metosin/komponentit "0.3.11"]
                [re-frame "1.2.0"]
                [reagent "1.1.1"]
                [reagent-utils "0.3.4"]
                [venantius/accountant "0.2.5"]
                [prismatic/schema "1.2.1"]]

 :source-paths ["target/uberjar/resources"
                "env/dev/clj"
                "src/cljs"
                "src/cljc"
                "src/clj"
                "test/cljs"]

 :nrepl {:port 7002}

 :builds {:app {:target :browser
                :output-dir "target/shadow/public/js"
                :asset-path "/js"
                :modules {:app {:entries [rems.app]}}
                :compiler-options {:optimizations :advanced
                                   :infer-externs :auto
                                   :source-map true}
                :devtools {:watch-dir "target/resources/public"}}
          :cljs-test {:target :karma
                      :output-to "target/shadow/cljs-test.js"
                      :ns-regexp "test-"}}}
