{:dependencies [[better-cond "2.1.5"]
                [binaryage/devtools "1.0.7"]
                [cider/cider-nrepl "0.59.0"]
                [cljs-ajax "0.8.4"]
                [clj-commons/secretary "1.2.4"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [com.rpl/specter "1.1.6"]
                [com.taoensso/tempura "1.5.4"]
                [day8.re-frame/tracing "0.9.2"]
                [day8.re-frame/re-frame-10x "1.12.3"]
                [dev.weavejester/medley "1.9.0"]
                [markdown-clj "1.12.7"]
                [metosin/komponentit "0.3.14"]
                [re-frame "1.4.4"]
                [reagent "2.0.1"]
                [reagent-utils "0.3.8"]
                [refactor-nrepl/refactor-nrepl "3.12.0"]
                [venantius/accountant "0.2.5"]
                [prismatic/schema "1.4.1"]]

 :source-paths ["target/uberjar/resources"
                "env/dev/clj"
                "src/cljs"
                "src/cljc"
                "src/clj"
                "test/cljs"]

 :nrepl {:port 7002
         :middleware [cider.nrepl/cider-middleware
                      refactor-nrepl.middleware/wrap-refactor]}

 :builds {:app {:target :browser
                :output-dir "target/shadow/public/js"
                :asset-path "/js"
                :modules {:app {:entries [rems.app]}}
                :compiler-options {:optimizations :none
                                   :infer-externs :auto
                                   :source-map true}
                :devtools {:watch-dir "target/resources/public"
                           :preloads [day8.re-frame-10x.preload
                                      devtools.preload]}
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                           day8.re-frame.tracing.trace-enabled? true}}}
                :release {:build-options {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}
                          :compiler-options {:optimizations :advanced}}}
          :cljs-test {:target :karma
                      :output-to "target/shadow/cljs-test.js"
                      :ns-regexp "test-"}}}
