#kaocha/v1 {:tests [{:id :unit
                     :ns-patterns ["rems"]
                     :test-paths ["src" "test"]
                     :skip-meta [:browser :integration]}
                    {:id :browser
                     :ns-patterns ["rems"]
                     :test-paths ["src" "test"]
                     :focus-meta [:browser]}
                    {:id :integration
                     :ns-patterns ["rems"]
                     :test-paths ["src" "test"]
                     :focus-meta [:integration]}]
            :kaocha/reporter kaocha.report.progress/report
            :plugins [:kaocha.plugin/print-invocations
                      :kaocha.plugin/profiling
                      :kaocha.plugin/junit-xml]
            :kaocha.plugin.junit-xml/target-file "target/test-results/kaocha.xml"}
