{:dev true
 :port 3001
 :nrepl-port 7001
 :public-url "http://localhost:3001/"
 :database-url "postgresql://localhost/rems_test?user=rems_test"
 :test-database-url "postgresql://localhost/rems_test?user=rems_test"
 :search-index-path "target/search-index-test"
 :authentication :fake-shibboleth
 :enable-pdf-api true
 ;; list all organizations used in test-data
 :organizations ["default" "perf" "thl" "nbn" "organization1" "organization2"]}
