{:dev true
 :port 3001
 :nrepl-port 7001
 :public-url "http://localhost:3001/"
 :database-url "postgresql://localhost/rems_test?user=rems_test"
 :database-lock-timeout "4s"
 :database-idle-in-transaction-session-timeout "8s"
 :test-database-url "postgresql://localhost/rems_test?user=rems_test"
 :search-index-path "target/search-index-test"
 :authentication :fake
 :oidc-extra-attributes [{:attribute "nickname" :name {:en "Nickname" :fi "Lempinimi"}}
                         {:attribute "picture"}]
 :languages [:en :fi :sv]
 :enable-pdf-api true
 :enable-permissions-api true
 :catalogue-is-public false}
