<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://" version="2.5">
  <listener>
    <listener-class>rems.listener</listener-class>
  </listener>
  <servlet>
    <servlet-name>rems.handler/handler servlet</servlet-name>
    <servlet-class>rems.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rems.handler/handler servlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/rems</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
