{;; HTTP server port.
 :port 3000

 ;; When :nrepl-port is set, the application starts an nREPL server on load.
 :nrepl-port nil

 ;; When true, enables experimental and unfinished features.
 :dev false

 ;; Uses :database-url if it's defined. Otherwise :database-jndi-name is used.
 :database-url nil
 :database-jndi-name "java:comp/env/jdbc/rems"

 ;; Supported authentication methods: :shibboleth, :fake-shibboleth, :ldap
 :authentication :shibboleth
 :ldap {:connection {:host "localhost:2636"
                     :ssl? true}
        :search-root "dc=Suivohtor,dc=local"}

 :default-language :en

 :theme-path nil

 ;; Optional extra static resources directory.
 :extra-static-resources nil

 ;; Optional extra script files loaded when UI loads
 :extra-scripts {:root "/dev/null" :files []}

 :extra-pages [;; example of internal page with translation in localization files
               #_{:id "about"
                  :url "/about"
                  :translation-key :t.navigation/about}

               ;; example of an external page with inline translation
               #_{:id "hello"
                  :url "http://example.org/hello.html"
                  :external? true
                  :translations {:fi "Hei", :en "Hello"}}

               ;; example of a local markdown file with inline translation
               #_{:id "mark"
                  :url "/markdown/about.md"
                  :file "about.md"
                  :translations {:fi "Info", :en "About"}}]

 :csv-separator ","}
