<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link href="/css/maintenance.css" rel="stylesheet">
  </head>
  <body>
    <div class="bg" style="background-image: url('/img/revontulet.jpg')"></div>
    <div class="bg-filter">

    </div>
    <div class="container">
      <h1 class="title">
        We will be right back!
      </h1>
      <div class="content">
        <h4 class="info">
          The server is currently undergoing a maintenance, please try again later.
        </h4>
        <div class="misc-info">
          <h5>
            Meanwhile sit back, relax and enjoy the northern lights.
          </h5>
          <h5>
            We apologize for any inconvenience caused.
          </h5>
        </div>
      </div>
    </div>
  </body>
</html>
