{% extends "base.html" %}
{% block content %}
<table class="ctlg-table">
  <tr>
    <th>Resource</th>
    <th></th>
  </tr>
  <tr>
    <td data-th="Resource">A</td>
    <td data-th=""><div class="btn btn-primary">Add to cart</div></td>
  </tr>
  <tr>
    <td data-th="Resource">B</td>
    <td data-th=""><div class="btn btn-primary">Add to cart</div></td>
  </tr>
  <tr>
    <td data-th="Resource">C</td>
    <td data-th=""><div class="btn btn-primary">Add to cart</div></td>
  </tr>
  <tr>
    <td data-th="Resource">D</td>
    <td data-th=""><div class="btn btn-primary">Add to cart</div></td>
  </tr>
  <tr>
    <td data-th="Resource">E</td>
    <td data-th=""><div class="btn btn-primary">Add to cart</div></td>
  </tr>
</table>
{% endblock %}
