@font-face {
  font-family: 'Lato';
  src: url('/font/Lato-Light.eot');
  src: url('/font/Lato-Light.eot') format('embedded-opentype'), url('/font/Lato-Light.woff2') format('woff2'), url('/font/Lato-Light.woff') format('woff'), url('/font/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/font/Lato-Regular.eot');
  src: url('/font/Lato-Regular.eot') format('embedded-opentype'), url('/font/Lato-Regular.woff2') format('woff2'), url('/font/Lato-Regular.woff') format('woff'), url('/font/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/font/Lato-Bold.eot');
  src: url('/font/Lato-Bold.eot') format('embedded-opentype'), url('/font/Lato-Bold.woff2') format('woff2'), url('/font/Lato-Bold.woff') format('woff'), url('/font/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
    margin: 0;
}

a, button {
  cursor: pointer;
}

html {
  position: relative;
  min-width: 320px;
  min-height: 100%;
}

body {
  margin-bottom: 53.6px;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 891px;
}

.btn-primary {
  background-color: #F16522;
  border-color: #F16522;
  outline-color: transparent;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active:hover {
  outline-color: transparent;
}

.btn-primary:hover, .btn-primary:focus,  .btn-primary:active:hover {
  background-color: #d84f0e;
  border-color: #F16522;
  outline-color: transparent;
}

.nav-link, .btn-link, .nav-link a {
  color: #4D5A91;
  border: 0;   /* for button links */
}

.navbar .nav-link, .navbar .btn-link {
  text-transform: uppercase;
}

.navbar-toggler {
  border-color: #CAD2E6;
}

.nav-link.active, .btn-link.active {
  color: #F16522;
}

.nav-link:hover, .btn-link:hover {
  color: #F16522;
}

.logo {
  height: 200px;
  background-color: #CAD2E6;
  padding: 0 20px;
  margin-bottom: 1em;
}

.logo .img {
  width: 100%;
  height: 100%;
  background: #CAD2E6 url("/img/logo2.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

body > footer {
  position: absolute;
  bottom: 0;
}

footer {
  width: 100%;
  height: 53.6px;
  background-color: #CAD2E6;
  text-align: center;
}

.jumbotron {
  background-color: #fff;
  text-align: center;
  max-width: 420px;
  margin: 30px auto;
  color: #000;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron h2 {
  margin-bottom: 20px;
}

.login-btn {
  max-height: 70px;
}

.login-btn:hover {
  filter: brightness(80%);
}

.rems-table.cart {
  background: #fff;
  color: #000;
  margin: 0;
}

.rems-table.cart tr {
  border-bottom: 1px solid #CAD2E6;
}

.btn.disabled {
  opacity: 0.25;
}

.rems-table {
  margin: 1em 0;
  min-width: 100%;
  background-color: #7A90C3;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.catalogue-item-link {
  color: #fff;
  text-decoration: underline;
}

.rems-table th {
  display: none;
}

.rems-table td {
  display: block;
}

.rems-table.cart td:before {
  content: initial;
}

.rems-table td:before {
  content: attr(data-th)":";
  font-weight: bold;

  margin-right: 0.5rem;
  display: inline-block;
}

.rems-table th, .rems-table td {
  text-align: left;
  padding: 0.5em 1em;
}

.rems-table.cart th, .rems-table.cart td:before {
  color: #000;
}

.rems-table th, .rems-table td:before {
  color: #fff;
}

.rems-table td:last-child:before {
  content: attr(data-th)"";
}

.rems-table tr {
  margin: 0 1rem;
}

.rems-table.cart tr:nth-child(2n) {
  background: #fff;
}

.rems-table tr:nth-child(2n) {
  background-color: #8a9dca;
}

@media (max-width: 480px) {
  .rems-table.cart tr {
    border-bottom: none;
  }

  .logo .img {
    background: #CAD2E6 url("/img/Logo-matala.png") center center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  .logo {
    height: 150px;
  }
}

@media (min-width: 768px) {
  .rems-table td:before {
    display: none;
  }

  .rems-table th, .rems-table td {
    display: table-cell;
  }
}

.user, .language-switcher {
  white-space: nowrap;
}

.user .nav-link {
  display: inline-block;
}

.user-name {
  text-transform: none;
}

.fa, .user-name {
  margin-right: 5px;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.navbar-text .language-switcher {
  margin-right: 1rem;
}

.example-page {
  margin: 2em;
}

.example-page h1, .example-page h2, .example-page h3 {
  margin-bottom: 1em;
}

.example {
  margin: 2em 0;
}

.example-content {
  border: 1px dashed black;
}

.example-content-end {
  clear: both;
}

.inner-cart {
  margin: 1em;
}

.outer-cart {
  border: 1px solid #CAD2E6;
  border-radius: .4em;
}

form:not(.inline) {
    padding-bottom: 1em;
}

form.inline {
  display: inline-block;
}

form.inline .btn-link {
  border: none;
  padding: 0;
}

.language-switcher form + form {
  margin-left: 0.5rem;
}

.role-switcher form {
  margin-left: 0.5rem;
}

.actions {
  text-align: right;
  padding: 0 1rem;
}

.rems-table td.actions:last-child {
  text-align: right;
  padding-right: 1rem;
}

@media (min-width: 480px) {
  .actions {
    white-space: nowrap;
  }
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
}

.navbar-flex nav {
  flex: 1;
}

.actions  > *:not(:first-child) {
  margin-left: 0.5em;
}

.cart-title {
  margin-left: 1em;
  font-weight: bold;
}

.full {
  width: 100%;
}

.rectangle {
  width: 50px;
  height: 50px;
}

.color-1 {
  background-color: #CAD2E6;
}

.color-2 {
  background-color: #7A90C3;
}

.color-3 {
  background-color: #4D5A91;
}

.color-4 {
  background-color: #F16522;
}

.color-title {
  padding-top: 0.8rem;
}
