* {
    margin: 0;
}

html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.container {
  max-width: 891px;
}
.navbar {
  border-radius: 0px;
  padding: 0rem 1rem;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

.navbar-nav .nav-link {
  color: #F16522;
  border: 0;   /* for button links */
}

.navbar-nav .nav-link.active {
  color: #7A90C3;
}
.navbar-nav .nav-link:hover {
  color: #4D5A91;
}

.secondary-navigation {
  float: right;
}

.secondary-navigation > * {
  margin-left: 1em;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
}

.logo {
  margin-bottom: 30px;
  background: #7A90C3 url("/img/logo2.png") center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 200px;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #CAD2E6;
}

footer, .push {
    height: 80px;
}

.jumbotron {
  background-color: #fff;
  text-align: center;
  max-width: 420px;
  margin: 30px auto;
  color: #000;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron h2 {
    margin-bottom: 20px;
}

.login-btn:hover {
  background-image: linear-gradient(#eee, #ddd);
  border-radius: 10px;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@media (max-width: 33em) {
  .secondary-navigation {
    float: none;
  }
}

.rems-table.cart {
  background: #fff;
  color: #000;
  margin: 0 0 1em 0;
}

.rems-table.cart td, .rems-table.cart th {
  border-bottom: 1px solid #CAD2E6;
}

.rems-table {
  margin: 1em 0;
  min-width: 100%;
  background: #5e6a9c;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.rems-table a {
  color: #fff;
  text-decoration: underline;
}

.rems-table th {
  display: none;
}

.rems-table td {
  display: block;
}

.rems-table td:first-child {
  padding-top: .5em;
}

.rems-table td:last-child {
  padding-bottom: .5em;
}

.rems-table.cart td:before {
  content: initial;
}

.rems-table td:before {
  content: attr(data-th)": ";
  font-weight: bold;

  width: 6.5em;
  display: inline-block;
}

.rems-table th, .rems-table td {
  margin: .5em 1em;
  text-align: left;
}

.rems-table.cart th, .rems-table.cart td:before {
  color: #000;
}

.rems-table th, .rems-table td:before {
  color: #fff;
}

.rems-table td:last-child:before {
  content: attr(data-th)"";
}

.rems-table td:last-child {
  text-align: right;
}

.rems-table.cart tr:nth-child(2n) {
  background: #fff;
}

.rems-table tr:nth-child(2n) {
  background: #4D5A91;
}

@media (min-width: 480px) {

  .rems-table td:before {
    display: none;
  }

  .rems-table th, .rems-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .rems-table th:first-child, .rems-table td:first-child {
    padding-left: 0;
  }

  .rems-table th:last-child, .rems-table td:last-child {
        padding-right: 0;
  }

  .rems-table th, .rems-table td {
    padding: 0.5em 1em !important;
  }
}

.language-switcher {
  display: inline-block;
}

.language-switcher form {
  display: inline-block;
}

.user {
  display: inline-block;
}

.example-page {
  margin: 2em;
}

.example-page h1, .example-page h2, .example-page h3 {
  margin-bottom: 1em;
}

.example {
  margin: 2em 0;
}

.example-content {
  border: 1px dashed black;
}

.example-content-end {
  clear: both;
}

.inner-cart {
  width: 95%;
  margin: 0 auto;
}

.outer-cart {
  border: 1px solid #CAD2E6;
  border-radius: .4em;
}

.cart-title {
  margin-top: 0.5em;
}
