* {
    margin: 0;
}

html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}

.secondary-navigation {
  float: right;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
}

footer .footer-wrapper {
    text-align: center;
    padding: 2em 1em 0em 1em;
}

footer {
  background-color: rgba(77, 90, 145, 0.45);
}

footer, .push {
    height: 80px;
}

.jumbotron {
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
  color: #fff;
  background-color: rgba(77, 90, 145, 0.9)
}

.jumbotron h1 {
    margin-bottom: 20px;
}

@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@media (max-width: 33em) {
  .secondary-navigation {
    float: none;
  }
}
