{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 ;; a useful default:
 :database-url "postgresql://localhost/rems_test?user=rems_test"
 :authentication :fake-shibboleth}
